<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">Lidar Lidar Lidar. Sriracha knausgaard locavore, typewriter 8-bit kickstarter taxidermy VHS bespoke DIY fap narwhal tacos.</p>
            <p>Yuccie hammock normcore taxidermy wolf stumptown. Ugh single-origin coffee brunch 3 wolf moon leggings, pour-over put a bird on it church-key actually williamsburg. Waistcoat stumptown fixie, cray fanny pack cold-pressed single-origin coffee XOXO +1 vice fashion axe kogi literally. YOLO chillwave hammock roof party messenger bag wolf.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
          <h2><small>Area of Interest - AOI</small><br>Statewide Overview</h2>
          Yuccie hammock normcore taxidermy wolf stumptown. Ugh single-origin coffee brunch 3 wolf moon leggings, pour-over put a bird on it church-key actually williamsburg. Waistcoat stumptown fixie, cray fanny pack cold-pressed single-origin coffee XOXO +1 vice fashion axe kogi literally. YOLO chillwave hammock roof party messenger bag wolf.
        </div>
        <div class="col-md-9">
          <iframe width="100%" height="520" frameborder="0" src="https://tnris.cartodb.com/viz/7db10e2c-6b8f-11e5-bd52-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>

<section class="container-fluid full">
    <figure class="full-article-figure">
        <div id="imageCompare1" class='twentytwenty-container lidar-compare'>
            <img class="img-responsive" src="{{m.link('static/images/data-catalog/entry/city_of_lubbock_2011_70cm_lidar_detail.jpg')}}" alt="Natural Color preview of El Paso Residential Area">
            <img class="img-responsive" src="{{m.link('static/images/data-catalog/entry/city_of_lubbock_2011_70cm_lidar_overview.jpg')}}" alt="Infra Red preview of El Paso Residential Area">
        </div>
        <figcaption class="text-center">College Station, Texas - Left: DEM | Right: 3-D Point Cloud</figcaption>
    </figure>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-5">
          <h2><small>Area of Interest - AOI</small><br>TWDB - Texas Water Development Board</h2>
           <img class="pull-left" src="{{m.link('static/images/logos/twdb_web.jpg')}}">Yuccie hammock normcore taxidermy wolf stumptown. Ugh single-origin coffee brunch 3 wolf moon leggings, pour-over put a bird on it church-key actually williamsburg. Waistcoat stumptown fixie, cray fanny pack cold-pressed single-origin coffee XOXO +1 vice fashion axe kogi literally. YOLO chillwave hammock roof party messenger bag wolf.
        </div>
        <div class="col-md-7">
          <iframe width="100%" height="520" frameborder="0" src="https://tnris.cartodb.com/viz/7db10e2c-6b8f-11e5-bd52-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
<hr class="clearfix">
<div class="container">
    <div class="row">
        <div class="col-md-5">
          <h2><small>Area of Interest - AOI</small><br>SARA - San Antonio River Authority</h2>
          <img class="pull-left" src="{{m.link('static/images/statewide-orthoimagery/logos/sara_logo.jpg')}}">Yuccie hammock normcore taxidermy wolf stumptown. Ugh single-origin coffee brunch 3 wolf moon leggings, pour-over put a bird on it church-key actually williamsburg. Waistcoat stumptown fixie, cray fanny pack cold-pressed single-origin coffee XOXO +1 vice fashion axe kogi literally. YOLO chillwave hammock roof party messenger bag wolf.
        </div>
        <div class="col-md-7">
          <iframe width="100%" height="520" frameborder="0" src="https://tnris.cartodb.com/viz/7db10e2c-6b8f-11e5-bd52-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
<hr class="clearfix">
<div class="container">
    <div class="row">
        <div class="col-md-5">
          <h2><small>Area of Interest - AOI</small><br>Williamson County</h2>
          Yuccie hammock normcore taxidermy wolf stumptown. Ugh single-origin coffee brunch 3 wolf moon leggings, pour-over put a bird on it church-key actually williamsburg. Waistcoat stumptown fixie, cray fanny pack cold-pressed single-origin coffee XOXO +1 vice fashion axe kogi literally. YOLO chillwave hammock roof party messenger bag wolf.
        </div>
        <div class="col-md-7">
          <iframe width="100%" height="520" frameborder="0" src="https://tnris.cartodb.com/viz/7db10e2c-6b8f-11e5-bd52-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
