
{% extends "events/texas-gis-forum/2016/main.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}

{% block contents %} 
<section class="container">
<div class="row">
  <div class="col-md-12">

    <div class="training-list">
    <h2>Day 1 - Monday, October 24th</h2>
  {% for event in forumtraining2016 %}
    {% if event.day == '1' %} 
    <div class="row forum-training-header ">
      <div class="col-xs-3 col-sm-2">
        <i class="glyphicon glyphicon-time"></i> {{event.time}}
        <span class=" hidden-sm hidden-md hidden-lg"><br>
         <a style="margin-top: 30px;" class="btn btn-danger btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a>
      </span>
      </div>
      <div class="col-xs-9 col-sm-6">
        <h3><a href="{{m.link(event.path)}}">{{event.class_title}}</a></h3></div>
      <div class="col-xs-6 col-sm-2 course-info">
        <strong>Taught by:</strong> <br>{{event.instructor}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.cost}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.status}}
      </div>
  </div>
  <div class="row course-description forum-course">
      <div class="col-xs-3 col-sm-2">
        <br>
      </div>
      <div class="col-xs-6 col-sm-6">
        {{event.teaser}}
      </div>
      <div class="col-xs-2  col-sm-2">
        <strong>Location:</strong><br>{{event.location}}
      </div>
      <div class="col-sm-2 hidden-xs">
        <a class="btn btn-danger btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
    <h2>Day 2 - Tuesday, October 25th</h2>
  {% for event in forumtraining2016 %}
    {% if event.day == '2' %}
    <div class="row forum-training-header ">
      <div class="col-xs-3 col-sm-2">
        <i class="glyphicon glyphicon-time"></i> {{event.time}}
         <span class=" hidden-sm hidden-md hidden-lg"><br>
         <a style="margin-top: 30px;" class="btn btn-danger btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a>
      </span>
      </div>
      <div class="col-xs-9 col-sm-6">
        <h3><a href="{{m.link(event.path)}}">{{event.class_title}}</a></h3></div>
      <div class="col-xs-6 col-sm-2 course-info">
        <strong>Taught by:</strong> <br>{{event.instructor}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.cost}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.status}}
      </div>
  </div>
  <div class="row course-description forum-course">
      <div class="col-xs-3 col-sm-2">
        <br>
      </div>
      <div class="col-xs-6 col-sm-6">
        {{event.teaser}}
      </div>

      <div class="col-xs-2  col-sm-2">
        <strong>Location:</strong><br>{{event.location}}
      </div>
      <div class="col-sm-2 hidden-xs">
        <a class="btn btn-danger btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}



     </div>
  </div>
</div>
</div>
</section>
{% endblock contents %}

