
{% extends "events/texas-gis-forum/2016/main.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}




mainimage: static/images/texas-gis-forum/2015/forum_photo_montage.jpg
mainimagesm: static/images/texas-gis-forum/2016/montage.jpg
mainimagexs: static/images/texas-gis-forum/2016/montagesm.jpg

{% block topcontent %}
  <div id="_2016-forum-container">
    <div class="container-fluid full">
      <div class="top-container">

      <div class="container forum-2016-brand-container">
        <span class="forum-brand">Texas GIS Forum</span> October 24th – 27th, 2016 | Austin, Texas
      </div>
          <img src="{{m.link('static/images/texas-gis-forum/2015/forum_photo_montage.jpg')}}" class="banner img-responsive hidden-sm hidden-xs" alt="Texas GIS Forum Main Image">
          <img src="{{m.link('static/images/texas-gis-forum/2016/montage.jpg')}}" class="banner img-responsive hidden-xs hidden-md hidden-lg" alt="Texas GIS Forum Main Image">
          <img src="{{m.link('static/images/texas-gis-forum/2016/montagesm.jpg')}}" class="banner img-responsive hidden-sm hidden-md hidden-lg"  alt="Texas GIS Forum Main Image">
      </div>
    </div>

    <div class="_2016-forum-intro">
      <div class="container">        
        {% include "events/texas-gis-forum/2016/nav.html" %}
        <h1>{{title}}</h1>
        <p class="lead">
          {{abstract}}
        </p>
    </div>
  </div>
{% endblock topcontent %}


{% block contents %}


  <div class="row">
    <div class="col-sm-8">
      <div class="training-date">
        <strong>
          <span class="glyphicon glyphicon-calendar"></span>
          {% if day == 1 %}
            Monday, October 26th
          {% endif %}
          {% if day == 2 %}
            Tuesday, October 27th
          {% endif %}
        </strong>,
        <span class="glyphicon glyphicon-time"></span> {{time}}
      </div>
      <div class="forum-training-location">
        <strong><i class="glyphicon glyphicon-pushpin"></i> Location:</strong> {{location}}
      </div>
      <div class="row training-header">
        <div class="col-xs-6 col-sm-7">
          Taught by:<br>
          <span class="glyphicon glyphicon-user"></span> {{instructor}}</div>
        <div class="col-xs-3 col-sm-3">
          Cost:<br>
          {{cost}}</div>
        <div class="col-xs-3 col-sm-2">
          Status:<br>
          {{status}}</div>
      </div>
      <div class="lead">
        {% if course_image %}
          <img class="course-image pull-right" src="{{m.link('static/images/training/course-images/' + course_image)}}" alt="courseimagealt">
        {% endif %}
        {{contents|safe}}
      </div>
    </div>
    <div class="col-sm-4">
      {% block sidebarLeft %}
       <!--   {% if status == "CLOSED" %}
         <div class="alert alert-danger" role="alert"><strong>Note:</strong> All available spots in this course have been filled and registration is closed.</div>
        {% else %}
        <a href="https://www.regonline.com/Register/Checkin.aspx?EventID=1725172" class="btn btn-danger btn-lg btn-block">Register For Forum Training</a>
        {% endif %} -->


          <p style="font-size: 18px;"><em><strong>Online Registration will open shortly.</strong></em></p>

      {% endblock sidebarLeft %}
    </div>
  </div>
</div>
{% endblock contents %}

