
{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}

{% endblock scripts %}


{% block topcontent %}
  <div id="_2016-forum-container" class="welcome_2016">

        {% include "events/texas-gis-forum/2016/nav.html" %}
        <div class="forum-img-xs hidden-lg hidden-md hidden-sm">
          <img class="img-responsive " src="{{m.link('static/images/texas-gis-forum/2016/exploring_limits_xs.jpg')}}">
        </div>
        <div class="forum-home-left-2016 hidden-xs">
          <img class="img-responsive" src="{{m.link('static/images/texas-gis-forum/2016/exploring_limits_vert_banner.jpg')}}" alt="Texas GIS Forum Vertical Graphic - Exploring Beyond the Limits">
        </div>
        <div class="forum-home-right-2016">


              {% include "events/texas-gis-forum/2016/welcome.html" %}

            {% include "events/texas-gis-forum/2016/registration.html" %}

             


              {% include "events/texas-gis-forum/2016/main-supplemental.html" %}


        </div>


  </div>
{% endblock topcontent %}


{% block contents-two %}
<section class="forum-sponsors">
    {% include "events/texas-gis-forum/2016/sponsors.html" %}
  </section>
</div>
{% endblock contents-two %}


