  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Next GIS Community Meeting</h3>
    </div>
    <div class="panel-body">
      <h3>April 28th,2015 | 2PM to 4PM</h3>
      <h4>Location:</h4>
<address>
        William B. Travis Building, Room 1-100<br>
        1701 N. Congress, 78701<br>
            <a href="https://goo.gl/maps/PlLqD"><a href="https://goo.gl/maps/iSJG5"><i class="glyphicon glyphicon-new-window"></i> View Map</a>
      </address>
      <p>
    <a class="btn btn-tnris btn-lg btn-block" href="{{ m.link('static/documents/gio-meetings/' + latest_agenda)}}"><i class="fa fa-slideshare"></i> View Meeting Agenda</a></p>
    </div>
  </div>

   <a href="{{ m.link('texas-google-imagery')}}"><img class="img-responsive ad" src="{{ m.link('static/images/google/google-imagery-box.jpg')}}" alt="Learn more about the Texas Google Imagery Pilot Project"></a>
