<div class="well dcs-meeting-container">
<h3><small>Next GIS Solutions Group Meeting</small><br>August 23rd, 2016, 2:30– 4:00 p.m.</h3>
<p><strong>Past Meeting Notes:</strong></p>

  <ul class="list-clean">

    <li> 
    <a href="{{m.link('geographic-information-office/gis-solutions-group/meeting-notes/2016-07-26-notes-july-2016-dcs-gis-solutions-group-meeting')}}"><br><i class="glyphicon glyphicon-file"></i> View Notes from July 2016</a>
    <li> 
    <a href="{{m.link('geographic-information-office/gis-solutions-group/meeting-notes/2016-07-21-notes-june-2016-dcs-gis-solutions-group')}}"><br><i class="glyphicon glyphicon-file"></i> View Notes from June 2016</a>
  </li>
    <li> 
    <a href="{{m.link('geographic-information-office/gis-solutions-group/meeting-notes/2016-06-15-notes-may-2016-dcs-gis-solutions-group')}}"><br><i class="glyphicon glyphicon-file"></i> View Notes from May 2016</a>
  </li>
   <li> 
    <a href="{{m.link('geographic-information-office/gis-solutions-group/meeting-notes/2016-04-28-notes-april-2016-dcs-gis-solutions-group')}}"><br><i class="glyphicon glyphicon-file"></i> View Notes from April 2016</a>
  </li> 
  <li> 
    <a href="{{m.link('geographic-information-office/gis-solutions-group/meeting-notes/2016-03-08-notes-march-2016-dcs-gis-solutions-group')}}"><br><i class="glyphicon glyphicon-file"></i> View Notes from March 2016</a>
  </li>
</ul>
</div>
