<div class="col-md-8">
  <h2>Easy to Use Imagery for Government Entities Across Texas</h2>
    <p class="lead">Many of use Google imagery in our daily lives, whether looking up directions or exploring our neighborhood from above, but with this innovative project, the State of Texas has collaborated with Google to harness this resource and provide a cost-efficient and widely accessible mapping tool that meets the needs of government agencies.</p>

    <p class="lead">The Texas Google Imagery Service is designed to provide high resolution imagery showing the entire state of Texas with its most current coverage. The service provides continuous 6-inch natural color imagery for the entire state.</p>

    <p class="lead">Making Google imagery available to all public agencies in Texas distributes the cost, making the imagery and the updates affordable to all.</p>
</div>

<div class="col-md-4">
    <p>
        <strong>As a state provisioned service, Google Imagery has two primary benefits:</strong>
        <ol>
            <li>Giving organizations current imagery for mapping. </li>
            <li>Creating a consistent data source so any mapping performed will reflect the same underlying data as any other organization who uses it. This will keep maps for decision makers up to date and ahead of the free imagery that is used by the public.</li>
        </ol>
    </p>
    <p>We highly recommend <a href="#project-faq"><strong>reading through the FAQ</strong></a> before requesting a unique link for your organization.</p>
    <a class="btn btn-tnris btn-lg btn-block" href="google-request">
        <i class="glyphicon glyphicon-comment"></i> Request a Unique Link Today
    </a>
</div>
