<section class="google-side">
    <h3>Helpful Downloads</h3>
    <ul class="helpful list-clean">
        <li>
            <a href="{{m.link('static/documents/google/google-imagery-fact-sheet.pdf')}}">
                <i class="glyphicon glyphicon-file"></i> Google Imagery Fact Sheet
            </a>
        </li>
        <li>
            <a href="{{m.link('static/documents/google/google-imagery-terms-of-use.pdf')}}">
                <i class="glyphicon glyphicon-file"></i> Google Imagery Terms of Use
            </a>
        </li>
        <li>
            <a href="{{m.link('static/documents/google/google-imagery-formal-accuracy-assessment.pdf')}}">
                <i class="glyphicon glyphicon-file"></i> Google Imagery Accuracy Assessment
            </a>
        </li>
      </ul>
</section>  