{% import "_form_macros.html" as form %}

{{form.before("google-request")}}
  {{form.input("First Name", "First Name", "text", true)}}

  {{form.input("Last Name", "Last Name", "text", true)}}
  {{form.input("Email", {
      label: "Email",
      placeholder: "Enter email address"
    }, "email", true)}}
  {{form.input("Phone", {
      label: "Phone",
      placeholder: "Enter your phone number"
    }, "tel", true)}}


<h3>PART 1b: Additional Information Required from Contractors Requesting Access</h3>
  {{form.input("Relevant Project of Partnership", {
      label: "Name of project or relevant partnership for which imagery will be used:",
      placeholder: "Name of Project or Partnership"
    }, "text", true)}}

      {{form.input("Relevant Project of Partnership", {
      label: "Name of the qualifying agency for which you are performing work under the project or formal partnership:",
      placeholder: "Name of Qualifying Agency"
    }, "text", true)}}

      {{form.input("Email of qualifying Agency", {
      label: "Contact email at qualifying agency with which you are formally partnering or performing contracted work:",
      placeholder: "Contact Email"
    }, "text", true)}}

          {{form.input("Anticipated project end date:", {
      label: "Anticipated project end date:",
      placeholder: "Project End Date"
    }, "text", true)}}

      {{form.multi(
        "end date",
        "Is the anticipated end date likely to be extended?",
        "radio",
          [
          'No',
          'Possible',
          'Probable'
        ],
        true
      )}}

<h2>PART 2: Informational Items and Terms of Service (Required)</h2>
<p class="lead">Check each box to indicate acknowledgement and agreement to the informational items and terms of service.</p>


  {{form.checkbox(
    "Best Effort",
    "Imagery web services are provided as a ‘best effort’ level service; there is no implied or explicit high availability service-level agreement for the imagery web services..",
    "Yes, I agree",
    true,
    true
  )}}
  {{form.checkbox(
    "no distribution",
    "The organization-specific web service URL or other credentials for accessing the imagery as a service may not to be distributed outside of your organization. Usage statistics will be kept to inform the acquisition of future imagery updates and to support sustained funding for the license.",
    "Yes, I agree",
    true,
    true
  )}}
  {{form.checkbox(
    "",
    "License information, known issues, frequently asked questions, and other resources related to the Google imagery license are available at....",
    "Yes, I agree",
    true,
    true
  )}}

<h2>PART 3: On Premise Imagery Files Request (Optional)</h2>
<p class="lead">Image files may be requested through TNRIS for those organizations with legitimate use requirements that cannot be met using the imagery via web services.</p>

<p><strong>Important Note: The imagery <strong>.jpg</strong> files are not yet ready, but you can still place your request in the queue for future attention.</strong></p>
  {{form.input("project or application description", {
      label: "Project or Application Description (if applicable):",
      placeholder: "Enter description"
    }, "text", false)}}

  {{form.input("requirements", {
      label: "Why web service access doesn’t fulfill requirements (if applicable):",
      placeholder: "Describe the issue"
    }, "text", false)}}

  {{form.input("geographic", {
      label: "Description of Geographic Area Required:",
      placeholder: "Describe the Geographic Area"
    }, "text", false)}}


<h2>PART 4. Acknowledgement (Required)</h2>
<p>On behalf of my organization, I have checked the appropriate boxes to indicate acknowledgement and agreement to the informational items and terms of service, as listed above, pertaining to usage of the State of Texas’ license to the Google Imagery products and services. Furthermore, by signing this document, my organization commits to communicating the content of this agreement to all of its end users of the imagery service.</p>
  {{form.input("Primary Contact Signature", {
      label: "Signature of Primary Contact",
      placeholder: "Your Full Name"
    }, "text", true)}}

  {{form.submit("message")}}
{{form.after()}}
