<div class="col-md-8">
  <h2 class="updates-header">Latest Updates as of<br><strong>March 30, 2015</strong></h2>
  <ul class="dash list-clean">
    <li>Laredo AOI updated to 2012</li>
    <li>Carrizo Springs AOI updated to 2014</li>
    <li>Corpus Christi AOI updated to 2014</li>
    <li>Texarkana AOI updated to 2015</li>
    <li>Fort Worth AOI reloaded to fix misalignment issues</li>
    <li>Reprocessed Brownsville to include missing area along Mexico border</li>
    <li>
        Flight data shapefile now available for 
        <a href="http://lt.tnris.org.s3.amazonaws.com/ProjectGoogle/TxGoogleFlightDate.zip">download</a>.
    </li>
  </ul>
</div>
<div class="col-md-4">
  <a class="btn btn-default btn-lg btn-block smooth-scroll" href="#contact-pm">
    <i class="glyphicon glyphicon-question-sign"></i> General Questions or Feedback
  </a>
</div>
