        <div class="container-full alert-custom alert alert-dismissible" role="alert">
          <div class="container">
              <p><strong>Welcome to the latest version of the TNRIS website</strong><br> You can still access the old site at <a href="http://legacy.tnris.org" target="_blank">legacy.tnris.org</a>.<br>We will be porting content from there and will close access to the legacy site when the process is complete.</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Dismiss this message </button>
          </div>
      </div>