{% import '_macros.html' as m %}

<div class="main-image-front hidden-xs">
	<a href="{{m.link('news/2015-11-03-forum-thank-you-photo-recap')}}">
    <img class="img-responsive" src="{{m.link('static/images/front-page/2015_gis_forum_thanks.jpg')}}" alt="Texas GIS Forum Graphic, a view of technology intersecting geography">
    <h2 class="forum-title-front">Texas GIS Forum, October 26-29, 2015, Austin, Texas</h2>
  </a>
</div>

<div class="small-banner">
  <a href="{{m.link('news/2015-11-03-forum-thank-you-photo-recap')}}">
    <img class="img-responsive" src="{{m.link('static/images/updates/2015/forumrecap_sm.jpg')}}" alt="Texas GIS Forum Graphic, a view of technology intersecting geography">
    <h2 class="forum-title-front">Texas GIS Forum, October 26-29, 2015, Austin, Texas</h2>
  </a>
</div>
