  <!-- build:js {{m.based('js/vendor.js')}} -->
    <script src="{{m.based('bower_components/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{m.based('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{m.based('bower_components/holderjs/holder.js')}}"></script>
    <script src="{{m.based('bower_components/jquery-zclip/jquery.zclip.js')}}"></script>
    <script src="{{m.based('bower_components/lodash/dist/lodash.compat.min.js')}}"></script>
    <script src="{{m.based('bower_components/swfobject/swfobject/swfobject.js')}}"></script>
    <script src="{{m.based('bower_components/twentytwenty/js/jquery.event.move.js')}}"></script>
    <script src="{{m.based('bower_components/twentytwenty/js/jquery.twentytwenty.js')}}"></script>
  <!-- endbuild -->

  <!-- build:js {{m.based('js/site.min.js')}} -->
    <script src="{{m.based('js/site.js')}}"></script>
  <!-- endbuild -->

  <!-- progress bar polyfill for IE9 -->
  <!--[if lt IE 10]>
    <link href="{{m.based('vendor/progress-polyfill.css')}}" rel="stylesheet">
    <script src="{{m.based('vendor/progress-polyfill.min.js')}}"></script>
  <![endif]-->
