<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to the 3rd annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="#">Commons Center</a> of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Check out our <a class="smooth-scroll" href="#georodeo-guest-presenters">speakers list below.</a></p>
    <h3>Register for Free on Eventbrite</h3>
    <p class="lead">Registration is required in order to attend and is on a first-come, first-serve basis.</p>
    <p class="lead">Please register only if you plan on attending.</p>
    <p>
        <a class="btn btn-danger btn-lg align-right" href="http://www.eventbrite.com/event/16287757120?ref=ebtn" target="_blank"><i class="glyphicon glyphicon-edit"></i> Register for the GeoRodeo</a>
    </p>
</div>
<div class="col-sm-4">
    <h3><small>Keynote Speaker</small><br>
Andrew Hill, CartoDB</h3>
    <img class="img-circle" src="{{m.link('static/images/georodeo/andrewhill_sm.jpg')}}" alt="Head shot of Andrew Hill from CartoDB">
    <p><strong>Andrew Hill</strong> is the Chief Science Officer at <a href="http://www.cartodb.com">CartoDB</a> where he explores the future of online mapping to help guide innovation and education. He is a biologist by training but has been working in maps, GIS, and data visualization for many years.</p>

    <h4 class="sponsor-side">Become a Sponsor and Connect with the Texas GeoDeveloper Community</h4>
    <p>Sponsorship helps us bring exciting speakers and make the GeoRodeo a success.</p>
    <a class="btn btn-danger btn-lg btn-block" href="{{ m.link('georodeo/become-a-sponsor')}}">Become a Sponsor</a>
</div>
<div class="col-xs-12">
    <h3>Tipping Our Hat to Our Sponsors</h3>
    <div class="row">

      <div class="col-sm-2">
        <img class="img-responsive pull-left" src="{{m.link('static/images/georodeo/tippingourhat.png')}}" alt="The Code Ranger tips his hat">
      </div>

        <div class="col-sm-10">
            <a href="http://www.appgeo.com"><img class="img-responsive pull-left" src="{{ m.link('static/images/georodeo/logos/appgeo_georodeo.png') }}" alt="AppGeo Logo and Link"></a>
            <a href="http://www.geospatialtraining.com"><img class="img-responsive pull-left" src="{{ m.link('static/images/georodeo/logos/geospatial_georodeo.png') }}" alt="Geospatial Training logo and link"></a>
            <a href="https://objectrocket.com"><img class="img-responsive pull-left" src="{{ m.link('static/images/georodeo/logos/objectrocket_georodeo.png') }}" alt="Object Rocket logo and link"></a>
        </div>
    </div>
</div>

<div class="col-xs-8">
  <h3>Unleash Mapping Mayhem - Watch the Promo</h3>
  <p>Thanks to, Stuart McSpadden, a creative member of the Texas GeoSpatial community, we have an (un)official promo video for this year's GeoRodeo.</p>
  <iframe src="https://player.vimeo.com/video/126969752" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/126969752">TNRIS GeoRodeo</a> from <a href="https://vimeo.com/stuartmcs">Stuart McSpadden</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </div>
