<h2>I am new to programming. Will I benefit from this?</h2>

<p>Yes, this event is designed to help you make connections and provide some guidance for accomplishing your geospatial goals. There will be an emphasis on coding and breaking down the process for modern geospatial solutions.  </p>

<h2> Should I bring my own Laptop?</h2>
<p>Yes, we encourage that you bring your own laptop loaded with whatever tools and code that you want/need. There will be wireless internet connections available. Note: Make sure you have a fully charged battery to avoid power outlet ‘range wars’!</p>

<h2>Will there be Lightning Talks?</h2>
<p>If you have something quick to share, come prepared with an idea of what you could present within a short 5-minute time slot and sign up for a lightning talk on-site at the event.</p>

<h3>Lightning Talk Rules</h3>

<ul>
  <li>5 minutes Max – We will tightly enforce this.</li>
  <li>No external computer laptops or tablets - only browser based access to materials and links</li>
<li>Tips: Understand your topic – make your point at the beginning. You don't have to use all 5 minutes</li>
</ul>
