<div class="col-sm-8">
<h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to the 3rd annual GeoRodeo - a roundup of geodevelopers and coders from across the state of Texas.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="#">Commons Center</a> of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community. It is organized <strong>by programmers, for programmers.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications.</p>
    <h3>Register for Free on Eventbrite</h3>
<p class="lead">Registration is required in order to attend and is on a first-come, first-serve basis.</p>
<p class="lead">Please register only if you plan on attending.</p>
<a class="btn btn-danger btn-lg align-right" href="http://www.eventbrite.com/event/16287757120?ref=ebtn" target="_blank">Register for the GeoRodeo</a>

</div>

<div class="col-sm-4">
  <h3><small>Keynote Speaker</small><br>
Andrew Hill, CartoDB</h3>
<img class="img-circle" src="{{m.link('static/images/georodeo/andrewhill_sm.jpg')}}" alt="Head shot of Andrew Hill from CartoDB">
<p><strong>Andrew Hill</strong> is the Chief Science Officer at <a href="http://www.cartodb.com">CartoDB</a> where he explores the future of online mapping
 to help guide innovation and education. He is a biologist by training but has been working in maps, GIS, and data visualization for many years.</p>
</div>
