{% set highlight_items = [ 
  { 
    name: '2016-17 Lidar Acquisition Project', 
    acronym: 'New Initiatives',
    description: 'Facilitating efforts to maximize funding, coordination, and visibility of Lidar Acquisition for the State of Texas', 
    image: 'static/images/stratmap/lidar_highlight.jpg', 
    alt_text: 'Lidar DEM with contour lines imposed on top', 
    link: '2016-lidar-acquisition-project', 
    button_text: 'Learn More <span class="sr-only">about 2016 Lidar Acquisition project</span>' 
  }, { 
    name: 'Texas Strategic Mapping Contract', 
    acronym: 'New Initiatives',
    description: 'The new contracting vehicle for StratMap and any Texas government agency is almost available for 17 total pre-approved vendors available for GIS products, services, and software.', 
    image: 'static/images/stratmap/stratmap_contract.jpg', 
    alt_text: 'An illustration of a contract with a pen, DIR logo on top', 
    link: 'stratmap/stratmap-contract', 
    button_text: 'Learn More <span class="sr-only">about the StratMap Contract</span>' 
  }, { 
    name: '2015 Statewide Orthoimagery Project', 
    acronym: 'Ongoing',
    description: 'Capturing High Quality, Leaf-Off data for the entire state', 
    image: 'static/images/highlights/tx-flag-gis.jpg', 
    alt_text: 'Texas flag superimposed with spatial data', 
    link: '2015-statewide-orthoimagery-project', 
    button_text: 'Learn More <span class="sr-only">about the 2015-2016 Statewide Orthoimagery Project</span>' 
  }
  ] 
%} 

{% set stratmap_items = [ 
  { 
    name: 'Amarillo-DFW-El Paso-Lubbock 2015 Aerial Imagery Now Available', 
    date: 'April 28, 2016',
    teaser: 'High resolution (RGBIR) natural color and color infrared aerial orthoimagery are now available from TNRIS for four urban areas.', 
    image: 'static/images/updates/2016/nga-2015/nga_2015_th.jpg', 
    link: 'news/2016-04-28-amarillo-dfw-el-paso-lubbock-2015-aerial-imagery-now-available' 
  }, { 
    name: 'Texas Parks and Wildlife 2015 Aerial Imagery Now Available', 
    date: 'April 5, 2016',
    teaser: 'High resolution (RGBIR) natural color and color infrared aerial orthoimagery are now available from TNRIS for three Texas Parks and Wildlife areas.', 
    image: 'static/images/updates/2016/tpwd-2015/tpwd_2015_th.jpg', 
    link: 'news/2016-04-05-texas-parks-wildlife-2015-aerial-imagery-now-available'
  }, { 
    name: '2016 Smith County Aerial Imagery Now Available', 
    date: 'March 14, 2016',
    teaser: 'High resolution (RGBIR) natural color and color infrared aerial orthoimagery are now available from TNRIS for Smith County.', 
    image: 'static/images/updates/2016/nga-2015/nga_2015_th.jpg', 
    link: 'news/2016-03-14-2016-smith-county-aerial-imagery-now-available'
  }
  ] 
%} 



  {% import "_macros.html" as m %}
<section class="container">
    <div class="col-sm-8">
      <p class="lead">StratMap was originally established in 1997 by Senate Bill 1 to <strong>develop consistent statewide digital data layers</strong>. Since then, its primary goal has been to acquire and improve digital geographic data for statewide mapping applications.</p>
      <p class="lead">
        StratMap also maintains comprehensive data standard specifications to ensure consistent, high quality data products across the State. <strong>StratMap personnel at TNRIS</strong> work with multiple agencies on cost-share initiatives in order to provide the State of Texas with best value data products.</p>
        <h2>How does this work?</h2>
        <ul class="stratmap-work">
          <li><strong>The StratMap team communicates regularly</strong> with State, Federal, regional and local government entities to discuss mapping needs.</li> 
          <li><strong>New projects are formed</strong> by identifying type of data required, location, specification, budget and timeline for delivery. </li>
          <li><strong>Data acquisition, production and independent quality assurance and quality control (QA/QC)</strong> are awarded to private geospatial contractors through the <a href="{{m.link('stratmap/stratmap-contract')}}">Texas Strategic Mapping Contract</a>.</li> 
          <li><strong>After the final data deliverables are accepted</strong>, they are placed in the public domain for use by local, regional and federal government, academia, private industry and the public.</li>
        </ul>
      </div>


      <div class="col-sm-4 stratmap-releases">
        <h3>Latest StratMap Data Releases</h3>
{% for article in stratmap_items %}
    <div class="media">
        <div class="media-left">
            <a href="{{m.link(article.link)}}">
                <img class="media-object" src="{{m.link(article.image)}}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
              <a href="{{m.link(article.link)}}">{{article.name}}</a><br><small>{{article.date}}</small></h4> 
            <p class="sr-only">{{article.teaser}}</p>
        </div>
    </div>
    <hr>
{% endfor %}
      </div>
</section>
<section id="stratmap-by-the-numbers">
    <div class="container">
      <h2>By the Numbers</h2>
        <div class="row">
            <div class="col-sm-4">
              <strong>48</strong><br> past agency partners and counting...
            </div>
            <div class="col-sm-4">
              <strong>32</strong><br> project Statement of Work (SOW) releases since 2009 and counting...
            </div>
            <div class="col-sm-4">
              <strong>$14.9 Million</strong><br> total spent on orthoimagery and Lidar data products for the State of Texas since 2009 through cost-share initiatives.
            </div>
            <!-- <div class="col-xs-12">
              Timeline? --- StratMap Program direct funding over time
            </div> --> 
          </div>
      </div>
</section>

<section class="container">
    <h2>Current Projects</h2>
    <div class="row">
        {% for item in highlight_items %}
        <div class="col-sm-4 stratmap-project">
            <div class="thumbnail ">
                <a href="{{m.link(item.link)}}"><img class="img-responsive" src="{{m.link(item.image)}}" alt="{{item.alt_text}}"></a>
                <div class="caption">
                    <h3>

                      {% if item.acronym %}
                        <small>{{item.acronym}}</small><br>
                      {% endif %} 
                      {{item.name|safe}}</h3>
                    <p>{{item.description}}</p>
                    <a class="btn btn-default" href="{{m.link(item.link)}}" role="button">{{item.button_text|safe}} <span class="glyphicon glyphicon-chevron-right"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

