{% extends "base.html" %}

{% block topcontent %}
<div class="container-fluid full">

      <div class="top-container">
      {% if mainimage %}
        <img class="img-responsive center-block" src="{{m.link(mainimage)}}" alt="Masthead for {{title}}">
      {% endif %}

      <div class="top-header center-block">
          <div class="container">
            <h1>
            {% if title == 'StratMap - Strategic Mapping Program' || title == 'StratMap Contract' %}

            {% else %}
              <small>StratMap</small><br>
            {% endif %}

              {{title}}</h1>
          </div>
      </div>
      </div>
      <div class="container">

            {% if abstract %}
              <div class="lead">{{abstract}}</div>
            {% endif %}
      </div>
</div>
{% endblock topcontent %}

{% block contents %}
  {% include "stratmap/nav.html" %}
  <div class="row">
    <div class="col-md-8">
      {{ contents|safe }}

      {% block extracontent %}
      {% endblock extracontent %}
    </div>

    <div class="col-md-4">
      {% block sidebarLeft %}
      {% endblock sidebarLeft %}
    </div>
  </div>
{% endblock contents %}
