<p>Click on a question to navigate to its answer.</p>
<h3>General FAQ</h3>
<ul class="faq-list dash list-clean">
  <li><a class="smooth-scroll" href="#how-can-google-imagery-help-my-organization-">How can Google Imagery help my organization?</a></li>
  <li><a class="smooth-scroll" href="#how-is-the-google-imagery-service-different-from-the-imagery-seen-in-google-earth-and-google-maps-">How is the Google Imagery Service different from the imagery seen in Google Earth and Google Maps?</a></li>
  <li><a class="smooth-scroll" href="#how-will-this-project-initiative-be-impacted-in-light-of-google-s-recent-announcement-that-google-maps-engine-gme-will-be-turned-off-early-next-year-">How will this project initiative be impacted in light of Google’s recent announcement that Google Maps Engine (GME) will be turned off early next year?</a></li>
  <li><a class="smooth-scroll" href="#who-can-use-the-google-imagery-services-">Who can use the Google Imagery Services?</a></li>
  <li><a class="smooth-scroll" href="#how-will-maintenance-and-imagery-update-costs-be-covered-in-the-future-">How will maintenance and imagery update costs be covered in the future?</a></li>
  <li><a class="smooth-scroll" href="#i-don-t-use-the-google-maps-api-how-can-i-incorporate-the-services-into-my-tools-and-applications-">I don’t use the Google Maps API, how do can I incorporate the services into my tools and applications?</a></li>

    <li><a class="smooth-scroll" href="#how-is-the-texas-google-imagery-service-different-from-the-state-programs-currently-in-place-to-acquire-imagery-such-as-the-texas-orthoimagery-program-top-or-the-national-agriculture-imagery-program-naip-">How is the Texas Google Imagery Service different than the State Programs currently in place to acquire imagery such as the Texas Orthoimagery Program (TOP) or the National Agricultural Imagery Program (NAIP)?</a></li>


  <li><a class="smooth-scroll" href="#will-the-state-continue-to-pursue-its-own-acquisition-of-statewide-imagery-such-as-the-texas-orthoimagery-program-top-and-national-aerial-imagery-program-naip-partnerships-">Will the state continue to pursue its own acquisition of statewide imagery such as the Texas Orthoimagery Program (TOP) and National Aerial Imagery Program (NAIP) partnerships?</a></li>

  <li><a class="smooth-scroll" href="#what-do-i-do-if-i-suspect-that-my-link-has-been-compromised-or-is-being-used-by-someone-or-an-organization-that-is-not-authorized-to-use-it-">What do I do if I suspect that my link has been compromised or is being used by someone or an organization that is not authorized to use it?</a></li>

<h3>Technical FAQ</h3>
  <li><a class="smooth-scroll" href="#how-do-i-add-the-google-imagery-services-to-my-software-">How do I add the Google Imagery services to my sofware?</a></li>

  <li><a class="smooth-scroll" href="#the-google-imagery-service-now-contains-layers-by-year-what-are-these-new-layers-">The Google Imagery Service now contains layers by year. What are these new layers?</a></li>
<li><a class="smooth-scroll" href="#should-i-use-the-wms-service-link-or-the-wmts-service-link-">Should I use the WMS service link or the WMTS service link?</a></li>

  <li><a class="smooth-scroll"  href="#the-wmts-link-does-not-work-in-arcgis-online-can-this-be-fixed-">The WMTS link does not work in ArcGIS Online. Can this be fixed?</a></li>
  <li><a class="smooth-scroll" href="#why-does-my-downloaded-tile-imagery-look-blocky-patchy-when-displayed-in-arcgis-">Why does my downloaded tile imagery look blocky/patchy when displayed in ArcGIS?</a></li>


  <li><a class="smooth-scroll" href="#what-if-my-link-stops-working-">What if my link stops working?</a></li>


  <li><a class="smooth-scroll" href="#how-do-i-know-if-and-when-new-imagery-has-come-on-line-">How do I know if and when new imagery has come on line?</a></li>

  <li><a class="smooth-scroll" href="#do-i-need-to-refresh-my-service-or-get-a-new-link-to-see-new-imagery-">Do I need to refresh my service or get a new link to see new imagery?</a></li>

  <li><a class="smooth-scroll" href="#what-if-i-see-errors-or-inconsistencies-in-the-imagery-how-should-i-report-it-and-to-whom-do-i-report-it-">What if I see errors or inconsistencies in the imagery? How should I report it and to whom do I report it?</a></li>

  <li><a class="smooth-scroll" href="#what-projection-is-the-google-imagery-service-using-">What projection is the Google Imagery Service using?</a></li>


  <li><a class="smooth-scroll" href="#can-i-download-or-get-a-physical-copy-of-the-original-image-that-is-in-the-service-">Can I download or get a physical copy of the original image that is in the service?</a></li>

  <li><a class="smooth-scroll" href="#what-projection-are-the-downloaded-jpeg2000-jp2-tiles-using-">What projection are the downloaded Jpeg2000 (jp2) tiles using?</a></li>

  <li><a class="smooth-scroll" href="#is-it-possible-to-get-a-color-infrared-cir-version-of-the-imagery-as-a-service-">Is it possible to get a Color Infrared (CIR) version of the imagery as a service?</a></li>

  <li><a class="smooth-scroll" href="#how-can-i-get-more-information-about-upcoming-flights-in-texas-">How can I get more information about upcoming flights in Texas?</a></li>

  <li><a class="smooth-scroll" href="#how-do-i-know-how-much-my-organization-has-used-the-google-imagery-service-">How do I know how much my organization has used the Google imagery service?</a></li>

    <li><a class="smooth-scroll" href="#request-a-unique-link">Request a Unique Link</a></li>
</ul>
