@import "variables";

#_2015-forum-container {
  .forum-intro {
    font-size: 20px;
  }

  h2 {
    color: $forum2015blue;
  }
  .training-list {
  .training-header {
    background: $white;

      i {
        float: left;
        font-size: 24px;
        margin-bottom: 40px;
        margin-right: 5px;
      }

      h3 {
        margin: 0;
      }
    }
  }

 .container-fluid.full {

      img.banner {
        min-width: 100%;
        display: block;
      }

      .forum-logo-container {
        position: relative;
        top: 0;
    }

     .top-container {
       margin-bottom: 0;

        .top-header h2 {
          color: $white;
        }
     }
  }
}

h2.logo-2015 {
  background: url('../images/texas-gis-forum/2015/logo_white_lg.png')  0 0 no-repeat;
  display: block;
  height: 126px;
  text-indent: -9999px;
  width: 607px;  
}

.forum-map {
  background: $forum2015blue;
  color: white;
  margin-top: 50px;

  h2 {
    color: $midgrey;
  }
}

.forum-bar {
  background: $forum2015blue;
  font-size: 20px;
}
