@import "variables";

#2015-forum-container {

  .forum-intro {
    background: $darkgrey;
    color: $white;
    padding-bottom: 60px;
  }

 .container-fluid.full {
     .top-container {
       margin-bottom: 0;
     }
  }

}
