@import "mixins";
@import "variables";

/* Home Top */
#home-top-content {
  margin-bottom: 20px;

  @include background-image(linear-gradient(to top, $lightergrey, white, white, white));
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;

  @media (min-width: $screen-sm) {
    padding-bottom: 10px;
  }
  
  @media (min-width: $screen-md) {
    margin-top: 10px;
  }

  .container {
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}



/* Front Image */
#front-image-container {
  &.col-xs-12 {
    @media (max-width: $screen-md) {
      padding: 0 !important;
    }
  }

  @media (min-width: $screen-md) {
    padding-right: 0;
  }

  img {

    @media (min-width: $screen-md) {
       border: 2px solid white;
      min-height: 315px;
    }
  }
}


h2.forum-title-front {
    background: url(../static/images/front-page/2015-forum-title-front-white.png) 0 0 no-repeat;
    height: 90px;
    left: 10px;
    margin: 0;
    position: absolute;
    text-indent: -9999px;
    bottom: 15px;
    width: 358px;
}



.main-image-front {
  position: relative;

  @media (max-width: $screen-sm) {
    min-height: 360px;
    background: $darkgrey;
  }
  
  @media (min-width: $screen-sm) {
    min-height: 350px;
  }

  @media (min-width: $screen-md) {
    min-height: 315px;
  }

  @media (min-width: $screen-lg) {
    min-height: 366px;
  }

  img {
    position: absolute;
  }


  // p {
  //     bottom: 160px;
  //     font-size: 15px;
  //     left: 265px;
  //     position: absolute;
  //     width: 455px;

  //     @media (min-width: $screen-lg) {
  //       bottom: 180px;
  //       font-size: 18px;
  //       left: 325px;
  //       width: 505px;
  //     }

  // }


  // a.btn {
  //     background: $darkgrey;
  //     bottom: 28px;
  //     color: $white;
  //     left: 20px;
  //     position: absolute;

  //     @media (min-width: $screen-lg) {
  //     bottom: 28px;
  //     left: 20px;
  //     }

  //     @media (min-width: $screen-sm) {
  //       margin-right: 5%;
  //       padding: 10px 15px;
  //       font-size: 18px;
  //   }
  // }
}


/* Front Page Highlights */
#highlights {
  background: $lightgrey;
  position: relative;
  z-index: 10000;
  padding: 20px 0;

  strong {
    font-weight: 400;
  }

  h3 {
    color: $middarkgrey;
    font-weight: 100;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    @media (max-width: $screen-lg) {
      font-size: 24px;
    }
  }

  p {
    padding: 0 15px;
    margin-top: 15px;
  }

  .btn {
    margin-left: 15px;
  }

  .image-container {
    // border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;

    h2 {
      position: absolute;
      text-shadow: 1px 1px 2px $darkgrey;
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
      padding-left: 15px;
      font-weight: 300;
      bottom: 0;
      width: 100%;
      color: white;
      @include background-image(linear-gradient(to top, $darkgrey, transparent));
      
      @media (max-width: $screen-lg) {
        font-size: 20px;
      }
    }
  }
}

.highlightBox {
  margin-bottom: 15px;
  overflow: hidden;
  background: $white;
  border: 1px solid $midgrey;
  color: $darkgrey;
  height: 350px;
}

/* Updates */
#updates-front {
  @media (min-width: $screen-md) {
    margin-left: 15px;
    margin-right: -15px;
    padding-right: 30px;
  }

  h2 {
    font-size: 22px;
    margin-top: 5px;
  }

  .media:last-child {
    @media (max-width: $screen-md) {
      display: none;
    }
  }
  .media:nth-child(3) {
    @media (max-width: $screen-md) {
      border-bottom: 0;
    }
  }


  .media:nth-child(4) {
    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      border-bottom: 0;
    }

    @media (max-width: $screen-md) {
      display: none;
    }
  }
}

/* training and around the state */

#front-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width: $screen-md) {
    margin-top: 0px;
  }

  h2 {
    font-size: 20px;
    margin-top: 0;

    @media (min-width: $screen-lg) {
      font-size: 22px;
    }
    
    a {
        color: $auburn;
      }
  }

  .training-front {
    border-left: 1px solid $midgrey;
    font-size: 15px;
    padding-left: 15px;

    @media (min-width: $screen-md) {
      border-left: none;
      margin-top: 20px;
      padding: 0;
    }

    h2 i {
      float: none;
      font-size: inherit;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 10px;

      a {
        color: $darkgrey;
      }
    }

    h4 {
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 0;
    }

    a {
      font-family: $pragmatica;

      &.btn {
        font-family: $opensans;
      }
    }

    time {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 0px;
    }

    i {
      float: left;
      font-size: 24px;
      height: 30px;
      margin-right: 5px;
      padding-top: 5px;

      &.extended {
      margin-bottom: 40px;
      }
    }

    li {
      margin-bottom: 24px;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .around-state-front {
    display: block;
    min-height: 285px;
    position: relative;

    @media (min-width: $screen-sm) {
      min-height: 350px;
    }

    @media (min-width: $screen-md) {
      border-right: none;
      padding-left: 0;
      padding-bottom: 10px;
      margin: 0 -15px;
      min-height: 200px;
    }

    @media (min-width: $screen-lg) {
      min-height: 233px;
    }

    h2 {
      padding-top: 5px;
    }

    h3 {
      margin-top: 0;
    }

    figure {
      margin-bottom: 15px;
      min-height: 350px;
      position: relative;
      
      @media (min-width: $screen-sm) {
        min-height: 350px;
      }

      @media (min-width: $screen-md) {
        min-height: 190px;
      }

      @media (min-width: $screen-lg) {
        min-height: 233px;
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        position: absolute;
      }
      
      h3 {
        top: 0;
        left: 0px;
        margin: 0;
        padding: 5%;
        position: absolute;

        @include background-image(linear-gradient(to bottom, $darkgrey, transparent));

        a {
          color: white;
          text-shadow: 1px 1px 1px #333;
        }

        a.btn {
          color: white;
          font-family: $opensans;
          margin-top: 5px;
          text-shadow: none;
        }
      }
    }
  }
}

#front-right {
  @media (min-width: $screen-md) {
    padding-right: 0;
  }

  img.padded {
    margin: 35px 0;

    @media (max-width: $screen-md) {
      margin: 0 auto;
      margin-bottom: 25px;
    }
  }
}

// Custom Announcement Boxes //
.extra-box {
  margin-bottom: 20px;
  
  @media (min-width: $screen-sm) {
    margin-bottom: 0;
    margin-left: -15px;
  }
  
  @media (min-width: $screen-md) {
    margin: 0 -15px;
    margin-bottom: 20px;
  }

  a {
    border: 1px solid $midgrey;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    text-shadow: 0 0 3px $white;
    width: 100%;

    &:hover {
      border-color: $tnrisblue;
      box-shadow: 0 0 2px $tnrisblue;
      text-decoration: none;
    }

    &.hcad-job {
      background: url(../static/images/front-page/light_houston_bg.jpg) right bottom no-repeat;
    }

    .media-left {
      padding-right: 0;
    }

    img {
      float: left;
      height: 100px;
      width: 100px;

      @media (min-width: $screen-md) and (max-width: $screen-lg) {
        width: 75px;
        height: 75px;
      }
    }

    small {
      clear: both;
      color: $auburn;
      display: block;
      font-family: $pragmatica;
      font-size: 14px;
      text-transform: uppercase;
    }

    div {
      color: $darkgrey;
      font-family: $proxima;
      font-size: 14px;

      strong {
        clear: both;
        display: block;
        font-size: 18px;
      }
    }
  }
}


// New Feature Boxes
.feature-container {
  background: $darkgrey;
  
  h3 {
    background: $darkgrey;
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}

h2.front-header {
  color: $forum2015blue;
  font-size: 26px;
  margin-top: 5px;
}

.feature {
  height: $dataspot-height;
  padding: 0;
  position: relative;

  figure {
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: $dataspot-height;
    width: 100%;
  }

  .feature-image {
    display: block;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;

    @media (min-width: $screen-lg) {
      margin-left: 0;
      min-height: auto;
      width: 100%;
    }  
  }

  .feature-text {
    @include alpha-attribute("background-color", rgba($tnrisblue, 0.85), white);
      color: white;
      font-weight: 300;
      padding: 20px 30px; 
      padding-top: 10px;
      position: absolute;
      text-shadow: 1px 1px 2px $facebook;
      width: 100%;
      z-index: 1000;
      bottom: 0;
    
    &.top {
      @media (min-width: $screen-md) {
        bottom: auto;
        top: 0;
      }
    } 

    small {
      color: $lightgrey;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    h4 {
      font-family: "pragmatica-web-condensed",sans-serif;
      font-size: 34px;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0;


        a {
          color: white;
          text-decoration: none;
        }
    }

    p {
      margin-bottom: 0;
    }
  }
}

.vignette {
  display: inline-block;
  height: $dataspot-height;
  position: relative;
  width: 100%;

  &:after {
    -webkit-box-shadow: inset 0px 0px 85px $darkgrey;
    -moz-box-shadow: inset 0px 0px 85px $darkgrey;
    box-shadow: inset 0px 0px 85px $darkgrey;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
     content: "";
  }
}

// feature titles


h2.keynote-title-front {
  bottom: 110px;
  color: $white;
  font-size: 40px;
  left: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-shadow: 0 0 4px black;
  width: 100%;

  @media (min-width: $screen-sm) {
    bottom: 65px;
    font-size: 50px;
  }

   @media (min-width: $screen-md) {
    bottom: 100px;
    font-size: 50px;
    left: 200px;
  }

  @media (min-width: $screen-lg) {
    bottom: 120px;
    left: 250px;
    font-size: 60px;
  }

  small {
    clear: both;
    color: $white;
    display: block;
    font-family: $adelle;
    font-size: 25px;
    font-weight: normal;
  }

  em {
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
  }
}

p.keynote-front-caption {
  bottom: 5px;
  color: $white;
  font-size: 14px;
  position: absolute;
  width: 50%;

   @media (min-width: $screen-sm) {
  font-size: 18px;
  width: 65%;
  }

  @media (min-width: $screen-md) {
    width: 200px;
    right: 10px;
    bottom: 90px;
  }

  @media (min-width: $screen-lg) {
    bottom: 110px;
    right: 50px;
  }
}

.btn.keynote-front-btn {
  position: absolute;
  bottom: 30px;
  width: auto;
  
  @media (min-width: $screen-md) {
    left: 200px;
  }

  @media (min-width: $screen-lg) {
    left: 250px;
  }

}

h2.big-title {
  color: $middarkgrey;
    font-family: $pragmatica;
   font-size: 50px;
   margin: 0;
   margin-bottom: 30px;
   padding: 0;
   text-align: center;
  }

// beta alert
.alert.beta-alert {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  margin-bottom: 0;
  margin-top: -5px;
}
