// Program page custom css //
@import "variables";

.vendor-block {
  display: inline-block; 
  height: 120px;

  p {
    @include vertical-align;
  }

  img {
    max-height: 60px;
    max-width: 100%;
  }

  .vendor-contract-link {
    bottom: 0;
    position: absolute;
  }
}


// Lidar Acquisition Project
#_2016-lidar-acquisition-project .list-group-item {
  color: white;
  background: $orange;

  &.committed {
    background: $successgreen
  }
}

.lidar-project-section {
  padding: 15px 0;

  h2 {
    margin-top: 0;
  }
}

.lidar-project-main {
  
  @media (max-width: $screen-md) {
    video {
      display: none;
      }
  }

  @media (max-width: $screen-md) {
    background: url(../static/images/2016-lidar/lidar_project_bg.jpg) 0 0 no-repeat;
    min-height: 400px; 

    .top-container {
    min-height: 400px !important; 
    }
  }
}
