<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to Austin on May 20th, 2016, for the 4th annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="#">Commons Learning Center</a> of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Check out our preliminary <a class="smooth-scroll" href="#8-00am-to-8-45am">agenda</a> below.</p>

    <h3>
    <img class="img-circle" src="{{m.link('static/images/georodeo/2016/waldo_headshot.jpg')}}" alt="Head shot of Andrew Hill from CartoDB"><small>Keynote Speaker</small><br>
Waldo Jaquith,  <a href="https://usopendata.org/">U.S. Open Data</a> </h3>
    <p><strong>Waldo Jaquith</strong> is the director of U.S. Open Data, an organization building the capacity of open data and supporting government in that mission. He also serves as the senior technology advisor to the Sunlight Foundation. Previously, he worked for the White House Office of Science and Technology Policy on open data initiatives. He lives in Charlottesville, Virginia with his wife and son.</p>
    
</div>
<div class="col-sm-4 intro-side">
    <h3>Register for Free on Eventbrite</h3>
    <p class="lead">Registration is required in order to attend and is on a first-come, first-serve basis.</p>
        <a class="btn btn-danger btn-lg btn-block" href="https://www.eventbrite.com/e/2016-georodeo-annual-texas-geodeveloper-roundup-tickets-21313479190?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&utm-source=cp&utm-term=listing" target="_blank"><i class="glyphicon glyphicon-edit"></i> Register for the GeoRodeo</a>
        <h3>Sponsors</h3>

            <a href="http://www.geospatialtraining.com"><img class="img-responsive center-block" src="{{ m.link('static/images/georodeo/logos/geospatial_georodeo.png') }}" alt="Geospatial Training logo and link"></a>
    <p>Become a sponsor of the GeoRodeo and connect with the Texas GeoDeveloper community.</p>
    <a class="btn btn-danger btn-lg btn-block" href="{{ m.link('georodeo/2016/become-a-sponsor')}}">Become a Sponsor</a>
  </div>
