<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to Austin on May 20th, 2016 to the 4th annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="#">Commons Center</a> of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Check out our <a class="smooth-scroll" href="#8-00am-to-8-45am">Agenda below.</a></p>
    <h3>Register for Free on Eventbrite</h3>
    <p class="lead">Registration is required in order to attend and is on a first-come, first-serve basis.</p>
        <a class="btn btn-danger btn-lg align-right" href="http://www.eventbrite.com/event/16287757120?ref=ebtn" target="_blank"><i class="glyphicon glyphicon-edit"></i> Register for the GeoRodeo</a>
</div>
<div class="col-sm-4">
    <h3><small>Keynote Speaker</small><br>
Waldo Jaquith, Data.gov</h3>
    <img class="img-circle" src="{{m.link('static/images/georodeo/2016/waldo1.jpg')}}" alt="Head shot of Andrew Hill from CartoDB">
    <p><strong>Waldo Jaquith</strong> <a href="http://data.gov">data.gov</a>....</p>
        <hr>
        <h3>Sponsors</h3>
    <p>Become a sponsor of the GeoRodeo and connect with the Texas GeoDeveloper community.</p>
    <a class="btn btn-danger btn-lg center-block" style="max-width: 60%;" href="{{ m.link('georodeo/2016/become-a-sponsor')}}">Become a Sponsor</a>
</div>
