<div class="col-sm-8">
    <h2>Code, Code on the Range</h2>
    <p class="lead">TNRIS invites you to Austin on May 20th, 2016, for the 4th annual GeoRodeo - a roundup of geodevelopers, coders and any professional from across the state of Texas who is looking to incorporate new ideas and creative solutions into their work.</p>
    <p class="lead">This free, interactive, technical conference, held at the <a href="#">Commons Learning Center</a> of the JJ Pickle Research Campus, is specifically for the Texas GIS/geospatial developer community.</strong></p>
    <p class="lead">Join us to learn about tips and techniques for open data, open source, and commercial GIS applications. Check out our preliminary <a class="smooth-scroll" href="#8-00am-to-8-45am">agenda</a> below.</p>

    <h3>
    <img class="img-circle med-circle keynote-circle" src="{{m.link('static/images/georodeo/2016/waldo_headshot.jpg')}}" alt="Head shot of Waldo Jaquith from U.S. Open Data"><small>Keynote Speaker</small><br>
Waldo Jaquith, <a href="https://usopendata.org/">U.S. Open Data</a> </h3>
    <p><strong>Waldo Jaquith</strong> is the director of U.S. Open Data, an organization building the capacity of open data and supporting government in that mission. He also serves as the senior technology advisor to the Sunlight Foundation. Previously, he worked for the White House Office of Science and Technology Policy on open data initiatives. He lives in Charlottesville, Virginia with his wife and son.</p>
    <h3>Other Presenters</h3>
    <p>Keep checking back as we confirm speakers.</p>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img class="img-circle sm-circle" src="{{m.link('static/images/georodeo/2016/john_gravois.jpg')}}" alt="Head shot of John Gravois from ESRI"><h4>John Gravois, ESRI</h4>
      </div>
      <div class="col-xs-6 col-sm-3">
        <img class="img-circle sm-circle" src="{{m.link('static/images/georodeo/2016/mateo_clarke.jpg')}}" alt="Head shot of Mateo Clarke from Open Austin"><h4>Mateo Clarke, Open Austin</h4>
      </div>
      <div class="col-sm-3">
        <img class="img-circle sm-circle" src="{{m.link('static/images/georodeo/2016/calvin_metcalf.jpg')}}" alt="Head shot of Calvin Metcalf from AppGeo"><h4>Calvin Metcalf, AppGeo</h4>
      </div>
      <div class="col-sm-3">
        <img class="img-circle sm-circle" src="{{m.link('static/images/georodeo/2016/john_clary_th.jpg')}}" alt="Head shot of  John Clary, City of Austin"><h4>John Clary, City of Austin</h4>
      </div>
    </div>
    
</div>
<div class="col-sm-4 intro-side">
    <h3>Register for Free</h3>
    <p class="lead">Registration is required to attend and is on a first-come, first-served basis.</p>
        <a class="btn btn-danger btn-lg btn-block" href="https://www.eventbrite.com/e/2016-georodeo-annual-texas-geodeveloper-roundup-tickets-21313479190?utm-medium=discovery&utm-campaign=social&utm-content=attendeeshare&utm-source=cp&utm-term=listing" target="_blank"><i class="glyphicon glyphicon-edit"></i> Register for the GeoRodeo</a>
        <h3>Sponsors</h3>
             <a href="http://www.esri.com"><img class="img-responsive center-block" src="{{ m.link('static/images/georodeo/logos/esri_georodeo.png') }}" alt="Esri Logo and Link"></a>

            <a href="http://www.geospatialtraining.com"><img class="img-responsive center-block" src="{{ m.link('static/images/georodeo/logos/geospatial_georodeo.png') }}" alt="Geospatial Training logo and link"></a>
            <a href="http://www.cartodb.com"><img class="img-responsive center-block" src="{{ m.link('static/images/georodeo/logos/cartodb_georodeo.png') }}" alt="Cartodb logo and link"></a>
            <a href="http://www.appgeo.com"><img class="img-responsive center-block" src="{{ m.link('static/images/georodeo/logos/appgeo_georodeo_md.png') }}" alt="AppGeo logo and link"></a>
    <p>Become a sponsor of the GeoRodeo and connect with the Texas GeoDeveloper community.</p>
    <a class="btn btn-danger btn-lg btn-block" href="{{ m.link('georodeo/2016/become-a-sponsor')}}">Become a Sponsor</a>


</div>
