{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}

{% block topcontent %}
<div class="georodeo-masthead container-fluid full">
    <div class="top-container">
        <div class="sr-only">
            <h1>{{title}}</h1> 
            {{abstract}}
        </div>
          <a href="{{m.link('georodeo/2016/index')}}"><img class="main hidden-xs" src="{{m.link(mainimage)}}" alt="Masthead for {{title}}">
          <img class="img-responsive hidden-lg hidden-md hidden-sm" src="{{m.link('static/images/georodeo/2016/cowsay_pasture_sm.jpg')}}" alt="Small Masthead for {{title}}">
        </a>
      <div class="georodeo-2016-date-bar">
          <div class="container">The Annual Texas GeoDeveloper Roundup<br>
                    May 20, 2016 * Commons Center * Austin, TX
                  </div>
        </div>
    </div>
</div>
<div id="intro" class="georodeo-intro">
    <div class="container">
        <div class="row">
          <div class="col-md-8">
                <h1>{{title}}</h1> 
              <p class="lead">
                {{abstract}}
              </p>
            </div>
        </div>
    </div>
</div>
{% endblock topcontent %}

{% block contents %}
<div class="row">
    <div class="col-md-8">
        {{ contents|safe }} 
        {% block extracontent %} {% endblock extracontent %}
    </div>
</div>
{% endblock contents %}

{% block contents-two %}
<section class="georodeo-bottom">
    <div class="container">
        <div class="row">
            {% include "./events/georodeo-2016/georodeo-map.html" %}   
        </div>
    </div>
</section>
{% endblock contents-two %}
