<div class="container">
  <h3>Platinum Sponsors</h3>
  <hr>
  <a href="http://appgeo.com"><img src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/appgeo_logo.png')}}"></a>
    <a href="http://cartodb.com"><img src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/cartodb_logo.png')}}"></a>
  <h3>Gold Sponsors</h3>
  <hr>
      <a href="http://plotterpro.com/"><img src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/prof_plotter_logo.png')}}"></a>
<!--   <h3>Silver Sponsors</h3>
  <hr> -->
  
</div>
