<div class="container">
  <div class="sponsors-platinum">
    <h3>Platinum Sponsors</h3>
    <hr>
    <a href="http://appgeo.com"><img alt="appgeo logo and link to website" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/appgeo_logo.png')}}"></a>
    <a  href="http://cartodb.com"><img alt="cartoDB logo and link to website" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/cartodb_logo.png')}}"></a>
    <a  href="http://esri.com"><img alt="ESRI logo and link to website" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/esri_logo.png')}}"></a>
  </div>

  <div class="sponsors-gold">
    <h3>Gold Sponsors</h3>
    <hr>
    <a href="http://plotterpro.com/"><img alt="Plotter Pro Logo and link to website" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/prof_plotter_logo.png')}}"></a>

    <a href="http://www.hexagongeospatial.com/"><img alt="hexagon geospatial logo and link" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/hexagon_logo.png')}}"></a>
  </div>
  <div class="sponsors-silver">
    <h3>Silver Sponsors</h3>
    <hr>
    <a href="http://www.sam.biz"><img alt="Survey Aerial and Mapping LLC logo and link to website" src="{{ m.link('static/images/texas-gis-forum/2015/sponsors/sam_logo.png')}}"></a>
  </div>
</div>
