<div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title" id="myModalLabel">ESRI HOLL Offerings</h3>
</div>
<div class="modal-body">
<ol>
<li>Getting Started with GIS 1: Understanding the ArcGIS Platform</li>
<li>Getting Started with GIS 2: Using ArcMAP to Explore GIS Data</li>
<li>Getting to Know ArcGIS Pro</li>
<li>Advantages to Storing Your GIS Data in the Geodatabase</li>
<li>Creating Presentation Quality Maps in ArcMap</li>
<li>Editing GIS Data in ArcMap</li>
<li>Multi-user Editing Using Versioning</li>
<li>Editing and Maintaining Parcels Stored in a Parcel Fabric</li>
<li>Geocoding Street Addresses to Create Map Points</li>
<li>Importing and Preparing CAD Data for Use in ArcGIS</li>
<li>The Importance of Spatial Reference in Tactical Applications </li>
<li>Exploring Health and Epidemic Patterns Using Spatial Statistics Tools</li>
<li>Optimizing Transportation Routs Using ArcGIS Network Analyst</li>
<li>Modeling Time and Distance Along Networks Using Linear Referencing</li>
<li>Working with Geometric Networks to Manage Utilities</li>
<li>Interpolating Sample Points to Create Rasters Using Spatial Analyst Tools</li>
<li>Geoprocessing GIS Data Using Python</li>
<li>Sharing Maps and GIS Content Using ArcGIS Online</li>
<li>Understanding Web Services Using ArcGIS for Server</li>
<li>Generating Web Applications for the GIS Novice</li>
<li>Getting Started with the Community Maps Data Preparation Tools </li>
<li>Mapping Excel Data Using Esri Maps for Office</li>
</ol>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
