
{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}

  <script src="//cdn.jsdelivr.net/momentjs/2.10.6/moment.min.js"></script>
  <script src="{{m.based('bower_components/jquery.storage/jquery.storage.js')}}"></script>
  <script src="{{m.based('js/2015forum.js')}}"></script>
{% endblock scripts %}


{% block topcontent %}
  <div id="_2015-forum-container">
    <div class="container-fluid full">
      <div class="top-container">
        {% if mainimage %}
        <div class="hidden-sm hidden-xs">
          <img src="{{m.link(mainimage)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
        </div>
        {% endif %}
        {% if mainimagesm %}
        <div class="hidden-xs hidden-md hidden-lg">
          <img src="{{m.link(mainimagesm)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
        </div>
        {% endif %}

        {% if mainimagexs %}
        <div class="hidden-sm hidden-md hidden-lg">
          <img src="{{m.link(mainimagexs)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
        </div>
        {% endif %}
      </div>
    </div>

    <div class="_2015-forum-intro">
      <div class="container">
        <a class="btn btn-lg btn-danger pull-right" href="{{ button_link}}"><i class="glyphicon glyphicon-hand-right"></i> {{ button_text }}</a>
        <p class="lead">
          {{ abstract }}
        </p>
      </div>
    </div>
{% endblock topcontent %}

{% block contents %}
  {% include "./partials/2015-forum/forum-nav-2015.html" %}
  <div class="row">
    <div class="col-md-12">
      {{contents|safe}}
    </div>
  </div>
{% endblock contents %}

{% block contents-two %}
  <section class="forum-map">
    <div class="container">
      <div class="row">
        {% include "./partials/2015-forum/forum-map.html" %}
      </div>
    </div>
  </section>
  <section class="forum-sponsors">
    {% include "./partials/2015-forum/2015-forum-sponsors.html" %}
  </section>
{% endblock contents-two %}


