
{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}



{% block topcontent %}
<div id="_2015-forum-container">
  <div class="container-fluid full">

      <div class="top-container">
          {% if mainimage %}
          <div class="hidden-sm hidden-xs">
            <img src="{{m.link(mainimage)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
          </div>
          {% endif %} 
          {% if mainimagesm %}
          <div class="hidden-md hidden-lg">
            <img src="{{m.link(mainimagesm)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
          </div>
          {% endif %} 
      </div>
  </div>

{% endblock topcontent %}

{% block contents %} 
<nav class="navbar navbar-inverse forum-bar">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="{{ m.link('2015-gis-forum')}}">Welcome</a></li>
        <li><a href="{{ m.link('2015-gis-forum/training')}}">Training</a></li>
        <li><a href="{{ m.link('2015-gis-forum/call-for-papers')}}">Call For Presentations</a></li>
        <li><a href="{{ m.link('2015-gis-forum/sponsors-and-exhibitors')}}">Sponsors &amp; Exhibitors</a></li>
      </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-10">
        {{contents|safe}}

    <div class="training-list">
    <h2>Day 1 - Monday, October 26th</h2>
  {% for event in forumtraining %}
    {% if event.day == '1' %}
    <div class="row training-header">
      <div class="col-xs-3 col-sm-2">
        <i class="glyphicon glyphicon-time"></i> {{event.time}}
      </div>
      <div class="col-xs-9 col-sm-6">
        <h3>{{event.class_title}}</h3></div>
      <div class="col-xs-6 col-sm-2 course-info">
        <strong>Taught by:</strong> <br>{{event.instructor}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.cost}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.status}}
      </div>
  </div>
  <div class="row course-description">
      <div class="col-xs-3 col-sm-2">
      </div>
      <div class="col-xs-9 col-sm-8">
        {{event.teaser}}
      </div>
      <div class="col-sm-1">
<!--         <a class="btn btn-default btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a> -->
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    {% endif %}
  {% endfor %}
    <h2>Day 2 - Tuesday, October 27th</h2>
  {% for event in forumtraining %}
    {% if event.day == '2' %}
    <div class="row training-header">
      <div class="col-xs-3 col-sm-2">
        <i class="glyphicon glyphicon-time"></i> {{event.time}}
      </div>
      <div class="col-xs-9 col-sm-6">
        <h3>{{event.class_title}}</h3></div>
      <div class="col-xs-6 col-sm-2 course-info">
        <strong>Taught by:</strong> <br>{{event.instructor}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.cost}}
      </div>
      <div class="col-xs-3 col-sm-1 course-info">
        {{event.status}}
      </div>
  </div>
  <div class="row course-description">
      <div class="col-xs-3 col-sm-2">
      </div>
      <div class="col-xs-9 col-sm-8">
        {{event.teaser}}
      </div>
      <div class="col-sm-1">
<!--         <a class="btn btn-default btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
          Full Info
        </a> -->
      </div>
      <div class="col-sm-1">
      </div>
    </div>
    {% endif %}
  {% endfor %}



     </div>
  </div>
</div>
</div>
{% endblock contents %}

{% block contents-two %}
<section class="forum-map">
    <div class="container">
        <div class="row">
                {% include "./partials/2015-forum/forum-map.html" %}   
        </div>
    </div>
</section>

{% endblock contents-two %}


