{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}


{% block topcontent %}
<div class="container-fluid full">

    <div class="top-container">
        {% if mainimage %}
          <img class="orthobanner" src="{{m.link(mainimage)}}" alt="Main Image for Statewide Ortho project, a Texas Flag composed of imagery">
        {% endif %}

        <div class="top-header center-block">
            <div class="container">
              <section class="row">
                <div class="col-md-9">
                <h1>{{title}}</h1> {% if abstract %}
        <div class="lead hidden-xs">
          <figure class="pull-right">       
        <a href="http://www.surdex.com">
          <img class="logo" src="{{m.link('static/images/statewide-orthoimagery/surdex_white.png')}}" alt="Surdex logo and link to their website">
        </a>
        <figcaption class="text-right"><em>Project Vendor</em></figcaption>
        </figure>
          {{abstract}}</div>
                {% endif %}
                <a href="#intro" class="btn btn-danger btn-lg smooth-scroll">More background about the project <i class="glyphicon glyphicon-chevron-right"></i></a>
              </div>
              <div class="col-md-3 hidden-xs hidden-sm">
                <h3>Questions or Comments?</h3>
        <a class="btn btn-default btn-md btn-block smooth-scroll" href="#contact-pm">
          <i class="glyphicon glyphicon-comment"></i> Contact the Project Manager
        </a>
              </div>
              </section>
            </div>
        </div>
    </div>
</div>
<section class="ortho-top">
    <div class="container">
        <div id="project-updates" class="row">
            {% include "./partials/2015-ortho/top-update.html" %}
        </div>
    </div>
</section>

<div id="intro" class="ortho-intro">
    <div class="container">
        <div id="project-updates" class="row">
        {% include "./partials/2015-ortho/intro.html" %}
        </div>
    </div>
</div>
{% endblock topcontent %}
{% block contents %}
<div class="row">
    <div class="col-md-8">
        {{contents|safe}}
    </div>


</div>
{% endblock contents %}

{% block contents-two %}
    <section class="ortho-top">
      <div class="container">
          <div class="row">
             {% include "./partials/2015-ortho/ortho-contact.html" %}
           </div>
         </div>
    </section>
{% endblock contents-two %}
