
{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}



{% block topcontent %}
<div id="_2015-forum-container">
  <div class="container-fluid full">

      <div class="top-container">
          {% if mainimage %}
          <div class="hidden-sm hidden-xs">
            <img src="{{m.link(mainimage)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
          </div>
          {% endif %}
          {% if mainimagesm %}
          <div class="hidden-xs hidden-md hidden-lg">
            <img src="{{m.link(mainimagesm)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
          </div>
          {% endif %}

          {% if mainimagexs %}
          <div class="hidden-sm hidden-md hidden-lg">
            <img src="{{m.link(mainimagexs)}}" class="banner img-responsive" alt="Texas GIS Forum Main Image">
          </div>
          {% endif %}
      </div>
  </div>
<div class="_2015-forum-intro">
    <div class="container">
        {% if button %}
        <a class="btn btn-lg btn-danger pull-right" href="{{ button_link}}"><i class="glyphicon glyphicon-hand-right"></i> {{ button_text }}</a>
        {% else %}
          <p style="float: right; width: 30%; font-size: 18px;"><em><strong>Online Registration is now closed.</strong> On-site registration will be available at the Conference starting Wednesday morning.</em></p>
        {% endif %}
      <p class="lead">
        {{ abstract }}
      </p>
    </div>
</div>

{% endblock topcontent %}

{% block contents %}

{% include "./partials/2015-forum/forum-nav-2015.html" %}

<div class="row">
    <div class="col-md-8">
        {{contents|safe}}
    </div>
    <div class="col-md-4">
      {% if sidebar == 'postersubmission' %}
        <h2>Submit Your Info</h2>
        <p>Please enter your information below if you plan on submitting a poster to the gallery. This info will be displayed along with your poster.</p>
        {% include "./partials/2015-forum/poster-submission.html" %}

      {% endif %}
    </div>
</div>
</div>
{% endblock contents %}

{% block contents-two %}
<section class="forum-map">
    <div class="container">
        <div class="row">
                {% include "./partials/2015-forum/forum-map.html" %}
        </div>
    </div>
</section>
<section class="forum-sponsors">
  {% include "./partials/2015-forum/2015-forum-sponsors.html" %}
</section>

{% endblock contents-two %}


