{% extends "custom/full-width-sections.html" %} 
{% import "_form_macros.html" as form %} 
{% block styles %} 
{% parent %} 
{{ form.styles() }} 
{% endblock styles %} 
{% block scripts %} 
{% parent %} 
{{ form.scripts() }} 
{% endblock scripts %} 

{% block contents-two %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p class="lead">TNRIS has a long history of successfully managing Lidar data acquisition projects. We have also helped guide data specifications for many other regional and local Lidar projects. TNRIS is now coordinating the acquisition of new, high quality elevation data for the 2016-17 winter season. This project supports regional and local governments by providing the opportunity to acquire these Lidar data products at significant cost savings.</p>
            <p class="lead">This project will fall under the umbrella of the new Texas Strategic Mapping (StratMap) Contract, a GIS data and services contract held at the Department of Information Resources (DIR) and administered by TNRIS. The StratMap Contract is the second generation of geographic data contracts administered by TNRIS. It replaces the previous High Priority Imagery and Data Sets (HPIDS) Contract. Under the HPIDS Contract, TNRIS managed 19 Lidar acquisitions from 2009 to 2015 covering over 50,000 square miles in Texas.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2><small>Area of Interest - AOI</small><br>Statewide Overview</h2>
            <p> The map below represents the two proposed projects for the 2016-2017 stratmap lidar acquisitions and compares them with the areas of existing Lidar data. The contract vehicle for these acquisitions will be the Texas StratMap Contract. In addition, TNRIS plans to participate in grant proposals to the USGS 3D Elevation Program (3DEP) for areas of interest that qualify for the program. </p>
        </div>
        <div class="col-xs-12">
            <iframe width="100%" height="600" frameborder="0" src="https://tnris-twdb.carto.com/viz/5be1679c-49c4-11e6-b3f5-0ee66e2c9693/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
<section class="container-fluid full">
    <figure class="full-article-figure">
        <div id="imageCompare1" class='twentytwenty-container lidar-compare'>
            <img class="img-responsive" src="{{m.link('static/images/2016-lidar/slider2_dem.jpg')}}" alt="Natural Color preview of El Paso Residential Area">
            <img class="img-responsive" src="{{m.link('static/images/2016-lidar/slider2_pointcloud.jpg')}}" alt="Infra Red preview of El Paso Residential Area">
        </div>
        <figcaption class="text-center">Lidar sample: College Station, Texas - Left: DEM | Right: 3-D Point Cloud</figcaption>
    </figure>
</section>
<div class="container lidar-project-section">
    <h2 class="big-title">Projects Developing Around the State</h2>
    <div class="row">
        <div class="col-md-5">
            <h2><small>Area of Interest - AOI</small><br>Central Texas</h2>
            <ul class="list-group">
                <li class="list-group-item committed"><strong>Funding Status:</strong> Approved</li>
                <li class="list-group-item"><strong>Area of Interest Status:</strong> Proposed</li>
            </ul>
            <div class="row">
                <div class="col-sm-8">
                    <p>This project represents a consortium of partners including Federal, local, regional and state government. This project aims to capture over 6,000 square miles in Central Texas where existing data is 8-10 years old and does not meet QL2 specifications. Participating partners include U.S. Fish and Wildlife, San Antonio River Authority, Williamson County and Texas Water Development Board. Data will support floodplain management and planning, feature extraction,water quality modeling, stream restoration potential analysis, change detection, wildfire mitigation, and habitat identification/modeling for endangered species. </p>
                </div>
                <div class="col-sm-4">
                    <a href="http://www.twdb.texas.gov"><img class="img-responsive" src="{{m.link('static/images/logos/twdb_web_med.jpg')}}" alt="TWDB logo and link to site"></a>
                    <hr>
                    <a href="http://www.wilco.org/"><img class="img-responsive" src="{{m.link('static/images/gio-stories/logos/wilco_logo.png')}}" alt="Williamson County Logo and Link to site"></a>
                    <hr>
                    <a href="https://www.sara-tx.org/"><img class="img-responsive" src="{{m.link('static/images/logos/sara_web_med.jpg')}}" alt="SARA Logo and link to site"></a>
                    <hr>
                    <a href="http://www.fws.gov/"><img class="img-responsive" style="max-width: 100px;" src="{{m.link('static/images/2016-lidar/us_fish_wildlife_logo.svg')}}" alt="US Fish and Wildlife Logo and Link to site"></a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <iframe width="100%" height="520" frameborder="0" src="https://tnris-twdb.carto.com/viz/0a1099dc-49d4-11e6-a803-0e05a8b3e3d7/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
<hr class="clearfix">
<div class="container lidar-project-section">
    <div class="row">
        <div class="col-md-5">
            <h2><small>Area of Interest - AOI</small><br>East Texas</h2>
            <ul class="list-group">
                <li class="list-group-item committed"><strong>Funding Status:</strong> Approved</li>
                <li class="list-group-item"><strong>Area of Interest Status:</strong> Proposed</li>
            </ul>
            <p>
                <a href="http://www.twdb.texas.gov"><img class="pull-right img-responsive" src="{{m.link('static/images/logos/twdb_web_med.jpg')}}" alt="TWDB logo and link to site"></a><a href="http://www.twdb.texas.gov/">The Texas Water Development Board</a> is interested in acquiring high resolution Lidar data to be used in flood management and planning. This Area of Interest targets what will be the last remaining area without Lidar data in East Texas completeing coverage of the Trinity river in East Texas. </p>
        </div>
        <div class="col-md-7">
            <iframe width="100%" height="520" frameborder="0" src="https://tnris-twdb.carto.com/viz/313e7d82-49d2-11e6-8a76-0ee66e2c9693/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </div>
    </div>
</div>
<section class="ortho-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 id="contact-pm">Want to Know More?</h2>
                <p class="lead">For further information or questions regarding this important initiative, contact the project manager using the form below.</p>
                <div class="alert alert-danger"><strong>NOTICE:</strong> Do not use this form if you are a vendor seeking to bid on a project. These projects will be released to qualified vendors under the forthcoming <strong>StratMap</strong> contract.</div>
                {{form.before("lidar-project")}} {{form.input("Name", "Name", "text", true)}} {{form.input("Email", { label: "Email", placeholder: "Enter email address" }, "email", true)}} {{form.input("Phone", { label: "Phone", placeholder: "Enter your phone number" }, "tel", true)}} {{form.input("Organization", { label: "Organization", placeholder: "Who are you affiliated with?" }, "text", true)}} {{form.textarea( "Questions or Comments", "Questions/Comments", true, true )}} {{form.submit("message")}} {{form.after()}}
            </div>
        </div>
    </div>
</section>
{% endblock contents-two %}
