{%- import "_macros.html" as m -%}
<!DOCTYPE html>
{# ref http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ #}
<!--[if lt IE 7]> <html {% block htmltag %} class="ie6 wf-loading" lang="en" {% endblock htmltag %}> <![endif]-->
<!--[if IE 7]>    <html {% block htmltag %} class="ie7 wf-loading" lang="en" {% endblock htmltag %}> <![endif]-->
<!--[if IE 8]>    <html {% block htmltag %} class="ie8 wf-loading" lang="en" {% endblock htmltag %}> <![endif]-->
<!--[if IE 9]>    <html {% block htmltag %} class="ie9 wf-loading" lang="en" {% endblock htmltag %}> <![endif]-->
<!--[if gt IE 9]><!--> <html {% block htmltag %} class="wf-loading" lang="en" {% endblock htmltag %}> <!--<![endif]-->
  <head>
    {% block header %}
      {% include "./partials/header.html" %}
    {% endblock header %}

    {% block title %}
     <title>
        {% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System
      </title>
    {% endblock title %}

    {% block styles %}
      {% include "./partials/styles.html" %}
    {% endblock styles %}
  </head>

  <body {% if id %}id="{{id}}"{% endif %}>
    {% block fontload %}
      {% include "./partials/font-load.html" %}
    {% endblock fontload %}

    <div id="wrap-outer">
      <div id="wrap-inner">
        {% include "./partials/navbar.html" %}

        {% include "./partials/browserwarnings.html" %}

        {% block quick_nav %} {% endblock quick_nav %}

        <span id="mainContentAnchor"></span>

        {% block topcontent %} {% endblock topcontent %}

        <div id="contentMain" class="container">
          {% block contents %} {% endblock contents %}
        </div>

        {% block contents-two %} {% endblock contents-two %}
      </div>
    </div>

    {% block footer %}
      {% include "./partials/footer.html" %}
    {% endblock footer %}

    {% block analytics %}
      {% block analytics-load %}
        {% include "./partials/analytics-load.html" %}
      {% endblock analytics-load %}
      {% block analytics-track %}
        {% include "./partials/analytics-track.html" %}
      {% endblock analytics-track %}
    {% endblock analytics %}

    {% block scripts %}
      {% include "./partials/scripts.html" %}
    {% endblock scripts %}
  </body>
</html>
