{% extends "base.html" %}


{% block htmltag %}
 {% parent %} ng-app="dataDownloadApp" ng-strict-di
{% endblock htmltag %}

{% block header %}
  {% parent %}
  <meta name="fragment" content="!">
{% endblock header %}

{% block title %}
  {# This is kinda terrible but is the only way I could figure to do it without having a flash of {{}} #}
  <title ng-bind-template="{% raw %}{{pageTitle}}{% endraw %} | {% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System">
    {% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System
  </title>
{% endblock title %}

{% block styles %}
  {% parent %}

  <link rel="stylesheet" href="{{m.based('data-download.css')}}"/>

  <!--[if lte IE 9]>
    <script src="{{m.based('xdomain.js')}}"
              slave="//s3.amazonaws.com/tnris-datadownload/xdomain-proxy.html"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css"/>
{% endblock styles %}

{% block contents %}
<div ng-controller="dataDownloadCtrl">
  <div class="row top-row">
    <div class="col-xs-12 col-sm-8">
      <h1>Data Search &amp; Download</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <p>
        GIS and imagery datasets are available at four levels: State, County,
        Quadrangle, and Quarter-Quadrangle. Use the drop-down menus to search by
        name, or click on the map to explore different regions.
      </p>
    </div>
  </div>

  <div class="row search">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>County</h3>
        <form id="countyForm" class="form-inline">
          <div ui-select ng-model="county.selected" theme="selectize">
            <div ui-select-match placeholder="Select or search for county by name">{{$select.selected.text}}</div>
            <div ui-select-choices repeat="item in counties | filter: $select.search">
              <div ng-bind-html="item.text | highlight: $select.search"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Quadrangle</h3>
        <form id="quadForm" class="form-inline">
          <div ui-select ng-model="quad.selected" theme="selectize">
            <div ui-select-match placeholder="Search for quadrangle by name">{{$select.selected.text}}</div>
            <div ui-select-choices repeat="quad in quads track by $index"
                     refresh="searchQuads($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="quad.text | highlight: $select.search"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 search downloadMap">
      <div download-map></div>
    </div>
  </div>

  <div ui-view></div>

  <div class="row public-domain-note">
    <div class="col-xs-12 public-domain-col">
      <img class="pull-left public-domain-logo" src="{{m.link('static/images/data-download/public-domain-logo.svg')}}" alt="Public Domain Logo">
      <p>
        <strong>Public Domain Dedication:</strong> Imagery and GIS datasets available at the download links on this page have been dedicated to the Public Domain via the
        <a href="{{m.link('public-domain-dedication-summary')}}">Creative Commons CC0 1.0 Universal (CC0 1.0) Public Domain
        Dedication</a>.
      </p>
    </div>
  </div>
</div>
{% endblock contents %}


{% block scripts %}
  {% parent %}

  <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>

  <script type="text/javascript" src="{{m.based('data-download.bundle.js')}}"></script>
{% endblock scripts %}


{% block analytics-track %}{% endblock analytics-track %}
