{% extends "base.html" %}
{% import '_macros.html' as m %}


{% block contents %}
  {%- set images = [
    {
      'alt': 'Overview image preview of ' + name + 'data',
      'button': {
        'class': 'btn-tnris',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'overview'
      },
      'url': overview_image_url
    }, {
      'alt': 'Image preview of urban features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'customclass': 'btn-urban',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'urban'
      },
      'label': 'urban',
      'url': urban_image_url
    }, {
      'alt': 'Image preview of detailed features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'customclass': 'btn-detail',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'detail'
      },
      'url': detail_image_url
    }, {
      'alt': 'Image preview of natural features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'customclass': 'btn-natural',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'natural <span class="hidden-xs">features</span>'
      },
      'url': natural_image_url
    }, {
      'alt': 'Coverage map for ' + name + ' data',
      'button': {
        'class': 'btn-danger',
        'icon': 'fa fa-crosshairs',
        'label': 'coverage <span class="hidden-xs">map</span>'
      },
      'url': status_map_url
    }, {
      'alt': 'Coverage map for ' + name + ' data',
      'button': {
        'class': 'btn-danger',
        'icon': 'fa fa-crosshairs',
        'label': 'coverage <span class="hidden-xs">map</span>'
      },
      'url': status_map_cartodb_id,
      'is_cartodb': true
    }
  ] -%}


<div class="container">  <div class="row">
    <ol class="breadcrumb cleanmargin">
      <li><a href="{{m.link('index')}}"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="{{m.link('maps-and-data')}}">Maps &amp; Data</a></li>
      <li><a href="{{m.link('data-catalog')}}">Data Catalog</a></li>
      <li class="active">{{ name }}</li>
    </ol>
  </div></div>
  <div id="catalogEntryContent" class="row">
    <div class="container"><h1><small><a href="{{m.link('data-catalog')}}/#{{urlized_category}}">{{ category }}</a></small><br>{{ name }}</h1></div>
    <div id="catalog-main-image">
      <div class="btn-container">
        <div class="btn-group center-block" data-toggle="buttons">
          {% set i = 0 %}
          {% for image in images %}
            {% if image.url %}
              <label class="btn btn-primary {{image.button.class}} {{image.button.customclass}} {% if i==0 %} active{% endif %}" data-target="#carousel-data-catalog" data-slide-to="{{i}}">
                <input type="radio" name="options" id="option{{i}}" autocomplete="off" {% if i==0 %}checked{% endif %}>
                <span class="{{image.button.icon}}"></span> <span class="label-text">{{image.button.label|safe}}</span>
              </label>
              {% set i += 1 %}
            {% endif %}
          {% endfor %}
        </div>
        </div>
      <div id="carousel-data-catalog" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
          {% set active_set = false %}
          {% for image in images %}
            {% if image.url %}
              <div class="item{% if !active_set %} active{% endif %}">
                {% if image.is_cartodb %}
                  <iframe class="img-responsive image-one" width='100%' frameborder='0' src='//tnris.cartodb.com/viz/{{image.url}}/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                 {%- else  -%}
                  <img class="img-responsive image-one" src="{{m.link('static/' + image.url)}}" alt="{{image.alt}}">
                {% endif %}
              </div>
             {% set active_set = true %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

    <div class="data-callout">
        <div class="container"><div class="row">
                  <table>
                    <thead>
                      <tr>
                        <th class="col-sm-1"><i class="glyphicon glyphicon-calendar"></i> Date(s):</th>
                        <th class="col-sm-4">Coverage Availability/Geographic Extent:</th>
                        <th class="col-sm-2">Footprint:</th>
                        <th class="col-sm-3">Source(s):</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="col-sm-1">{{ date_created }}</td>
                        <td class="col-sm-4">
                            {{ coverage_extent }}
                        </td>
                        <td class="col-sm-2">{{ footprint }}</td>
                        <td class="col-sm-3">{{ source }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 data-access-container">
        <button class="data-access-toggle collapsed hidden-sm hidden-lg hidden-md" type="button" data-toggle="collapse" data-target="#data-access">
        <span><i class="glyphicon glyphicon-eye-open"></i> Click to View Access Options</span>
         </button>
          <div class="collapse" id="data-access">
          <h2>Data Access</h2>
          {% if download_link %}
            <h3>Direct Download</h3>

            <p><a href="{{download_link}}" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-download-alt"></span> Download <span class="hidden-sm hidden-xs hidden-md">Data Set</span></a></p>
            <p>The full <em>{{ name }}</em> data set can be downloaded directly.</p>
            <p>Download the
              {% if download_size == "Varies" %}
              <strong>variably sized</strong>
              {% elseif download_size %}
              <strong>{{ download_size }}</strong>
              {% endif %}
              file here</p>
              <hr>
          {% endif %}

          {% if download %}
            <h3>Data Search &amp; Download</h3>
            <p><a href="{{m.link('data-download')}}" class="btn btn-tnris btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> Launch <span class="hidden-sm">Data Search &amp;</span> Download </a></p>
            <p>Use our online tool to specify the geographic area for which you would like to download the <em>{{ name }}</em> data set.  </p>
              <hr>
          {% endif %}

          {% if order %}
            <h3>Custom Ordering</h3>
            <p><a href="{{m.link('order-data')}}" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-envelope"></span> Order Data</a></p>
            <p><em>{{ name }}</em> is in the public domain and available from the <a href="{{m.link('maps-and-data/research-and-distribution')}}">Research and Distribution Center</a> for the cost of reproduction.</p>
              <hr>
          {% endif %}

          {% if wms_link %}
            <h3>Online Mapping Service</h3>
            {{m.wms_link(wms_link)}}
            <p><em>{{ name }}</em> is available as an online mapping service.</p>
            <p>Copy the URL above and enter it into your program to access.</p>
            
              <hr>
          {% endif %}

          {% if pop_link %}
            <h3>Online Preview</h3>
            <p>
              <a href="{{ pop_link }}" class="btn btn-info btn-lg btn-block">
              <i class="glyphicon glyphicon-new-window"></i> Open Online Preview</span></a>
            </p>
            <p>Preview
              {% if category == "Elevation - LiDAR" %}
              the coverage area of this dataset using an ArcGIS online service.
              {% else %}
              this dataset as an ArcGIS online service
              {% endif %}
            </p>
          {% endif %}
        </div>
        </div>
        <div class="col-sm-7">
          <h2 class="clean-top">Data Details</h2>
          <table class="data-details">
                <tbody>
            <tr><td><strong>Available Formats:</strong></td><td>  {{ available_formats }}</td></tr>
           
           {% if alternative_data %} 
            <tr><td><strong>Alternative Data:</strong></td><td>  {{ alternative_data }}</td></tr>
           {% endif %}

            {% if derivative_data %}
            <tr><td><strong>Derivative Data:</strong></td><td>  {{ derivative_data }}</td></tr>
            {% endif %}
            <tr><td><strong>Known Issues:</strong></td><td> {% if known_issues %}{{ known_issues }}{% else %} None {% endif %}</td></tr>

            <tr><td><strong>Recommended Uses:</strong></td><td>  {{ recommended_use }}</td></tr>

            {% if spatial_reference %}
            <tr><td><strong>Spatial Reference:</strong></td><td>  {{ spatial_reference|safe }} </td></tr>
            {% endif %}
          </tbody>
        </table>

          <div class="description">
            <h2>Description</h2>
            <p>{{contents|safe}}</p>
          </div>
          <div id="metadata">
              {% if tile_index_url or supplemental_report_url  %}
              <h2>Supplemental Information</h2>

              <table>
                <tbody>
                 {% if tile_index_url %}
                  <tr>
                    <td><strong>Tile Index:</strong></td>
                    <td><a href="{{tile_index_url}}"><i class="glyphicon glyphicon-file"></i> Download File</a></td>
                  </tr>
                 {% endif %}
                 {% if supplemental_report_url %}
                  <tr>
                    <td><strong>Project Report(s):</strong></td>
                    <td><a href="{{supplemental_report_url}}"><i class="glyphicon glyphicon-file"></i> Download File</a></td>
                  </tr>
                 {% endif %}      
                </tbody>
              </table>
              {% endif %}
              <div>
            <h2>Data License</h2>
          <p class="lead">{%- if license_text -%}
                               {%- if license_url -%}
                                  <a href="{{license_url}}">{{license_text}}</a>
                                 {%- else  -%}
                                  {{ license_text }}
                                {%- endif -%}
                               {%- else  -%}
                                 <em>Unknown</em>
                              {%- endif -%}</p>
          </div>
          </div>
      </div>
    </div>
  </div>
{% endblock contents %}

{% block scripts %}
  {% parent %}

  <script type="text/javascript">
    $(function() {
      var callout = $('.data-callout').collapse();

      $('.carousel')
        .carousel();

      $('.carousel')
        .on('slide.bs.carousel', function (event) {
          var iframe = $(event.relatedTarget).find('iframe');

          if (iframe.length) {
            callout.hide();
          } else {
            callout.show();
          }
        });
    });
  </script>
{% endblock scripts %}
