{% extends "base.html" %}


{% block htmltag %}
 {% parent %} ng-app="dataDownloadApp"
{% endblock htmltag %}

{% block header %}
  {% parent %}
  <meta name="fragment" content="!">
{% endblock header %}

{% block title %}
  {# This is kinda terrible but is the only way I could figure to do it without having a flash of {{}} #}
  <title ng-bind-template="{% raw %}{{pageTitle}}{% endraw %} | {% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System">
    {% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System
  </title>
{% endblock title %}

{% block styles %}
  {% parent %}

  <!-- build:css {{m.based('css/data-download.min.css')}} -->
    <link rel="stylesheet" href="{{m.based('bower_components/selectize/dist/css/selectize.bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{m.based('bower_components/angular-ui-select/dist/select.css')}}"/>
    <link rel="stylesheet" href="{{m.based('css/data-download.css')}}">
  <!-- endbuild -->

  <!--[if lte IE 9]>
    <script src="{{m.based('bower_components/xdomain/dist/xdomain.min.js')}}"
              slave="//s3.amazonaws.com/tnris-datadownload/xdomain-proxy.html"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/themes/css/cartodb.css"/>
{% endblock styles %}

{% block contents %}
<div ng-controller="dataDownloadCtrl">
  <div class="row top-row">
    <div class="col-xs-12 col-sm-8">
      <h1>Data Search &amp; Download</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <p>
        GIS and imagery datasets are available at four levels: State, County,
        Quadrangle, and Quarter-Quadrangle. Use the drop-down menus to search by
        name, or click on the map to explore different regions.
      </p>
    </div>
  </div>

  <div class="row search">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>County</h3>
        <form id="countyForm" class="form-inline">
          <div ui-select ng-model="county.selected" theme="selectize">
            <div ui-select-match placeholder="Select or search for county by name">{{$select.selected.text}}</div>
            <div ui-select-choices repeat="item in counties | filter: $select.search">
              <div ng-bind-html="item.text | highlight: $select.search"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Quadrangle</h3>
        <form id="quadForm" class="form-inline">
          <div ui-select ng-model="quad.selected" theme="selectize">
            <div ui-select-match placeholder="Search for quadrangle by name">{{$select.selected.text}}</div>
            <div ui-select-choices repeat="quad in quads track by $index"
                     refresh="searchQuads($select.search)"
                     refresh-delay="0">
              <div ng-bind-html="quad.text | highlight: $select.search"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 search downloadMap">
      <div download-map></div>
    </div>
  </div>

  <div ui-view></div>

</div>
{% endblock contents %}


{% block scripts %}
  {% parent %}

  <script src="https://cartodb-libs.global.ssl.fastly.net/cartodb.js/v3/3.12/cartodb.js"></script>

  <!-- build:js {{m.based('js/data-download-vendor.js')}} -->
    <script type="text/javascript" src="{{m.based('bower_components/angular/angular.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angular-collection/angular-collection.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angular-sanitize/angular-sanitize.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angular-ui-router/release/angular-ui-router.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angular-ui-select/dist/select.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angulartics/dist/angulartics.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/angulartics/dist/angulartics-ga.min.js')}}"></script>
    <script type="text/javascript" src="{{m.based('bower_components/leaflet-plugins/layer/tile/Bing.js')}}"></script>
  <!-- endbuild -->

  <!-- build:js {{m.based('js/data-download.min.js')}} -->
    <script type="text/javascript" src="{{m.based('js/data-download/services/BrowserService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/services/CartoService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/services/DataService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/services/MapService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/services/CountyService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/services/HistoricalAerialsService.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/directives/downloadMap.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/directives/mapControl.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/directives/resourceGroup.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/filters/titleizeFilter.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/controllers/dataDownloadCtrl.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/counties.js')}}"></script>
    <script type="text/javascript" src="{{m.based('js/data-download/app.js')}}"></script>
  <!-- endbuild -->

{% endblock scripts %}


{% block analytics-track %}{% endblock analytics-track %}
