{% extends "base.html" %} 
{% import "_form_macros.html" as form %}

{% block styles %}
  {% parent %}

  {{ form.styles() }}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{ form.scripts() }}
{% endblock scripts %}

{% block topcontent %}
<div class="container-fluid full">
      <div class="top-container">
        <div class="sr-only">
              <h1>{{title}}</h1>
              {{abstract}}
        </div>
        <a href="texas-google-imagery"><img class="img-responsive center-block" src="{{m.link(mainimage)}}" alt="Masthead for {{title}}"></a>
      </div>
</div>

<div id="intro" class="google-intro">
    <div class="container">
        <div class="row">
          <div class="col-xs-12"><h2>Request a Unique Google Imagery Link for Your Organization</h2></div>
        </div>
    </div>
</div>
{% endblock topcontent %}

{% block contents %}

  <div class="row">
    <div class="col-md-8">
      {{ contents|safe }}
      {% include "./partials/google-request-form.html" %}
    </div>

<div class="col-md-4">
      {% block sidebarLeft %}

    <section class="google-contact">
            <h3>Helpful Downloads</h3>
            <ul class="helpful list-clean">
                <li>
                    <a href="documents/google/google-imagery-fact-sheet.pdf">
                        <i class="glyphicon glyphicon-file"></i> Google Imagery Fact Sheet
                    </a>
                </li>
                <li>
                    <a href="documents/google/google-imagery-terms-of-use.pdf">
                        <i class="glyphicon glyphicon-file"></i> Google Imagery Terms of Use
                    </a>
                </li>
                <li>
                    <a href="documents/google/google-imagery-formal-accuracy-assessment.pdf">
                        <i class="glyphicon glyphicon-file"></i> Google Imagery Accuracy Assessment
                    </a>
                </li>
              </ul>
    </section>
      {% endblock sidebarLeft %}
    </div>
  </div>
{% endblock contents %}
