{% extends "base.html" %} 
{% import "_form_macros.html" as form %}

{% block styles %}
  {% parent %}

  {{ form.styles() }}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{ form.scripts() }}
{% endblock scripts %}

{% block topcontent %}
<div class="container-fluid full">
      <div class="top-container">
        <div class="sr-only">
              <h1>{{title}}</h1>
              {{abstract}}
        </div>
        <img class="img-responsive center-block" src="{{ mainimage }}" alt="Masthead for {{title}}">
      </div>
</div>
{% endblock topcontent %}

{% block contents %}

  <div class="row">
    <div class="col-md-8">
      {{ contents|safe }}

      {% block extracontent %}
      {% endblock extracontent %}
    </div>

<div class="col-md-4">
      {% block sidebarLeft %}

    <section class="google-contact">
      <!-- {% include "./partials/google-contact.html" %} -->
             As a state provisioned service, Google Imagery has two primary benefits:
1. Giving organizations current imagery for mapping.
2. Creating a consistent data source so any mapping performed will reflect the same underlying data as any other organization who uses it. This will keep maps for decision makers up to date and ahead of the consumer free imagery that is used by the public.
    </section>
      {% endblock sidebarLeft %}
    </div>
  </div>
{% endblock contents %}

{% block contents-two %} 
{% endblock contents-two %}
