{% extends "base.html" %}
{% import '_macros.html' as m %}

{% block topcontent %}
  <div class="hidden-md hidden-lg quicknav-small-container">
    <div class="container quicknav-small">
      {% include "./partials/quicknav-sm.html" %}
    </div>
  </div>
  <div id="home-top-content">
      <div class="container">
          <div class="row">
              <div class="col-md-3 hidden-xs hidden-sm">
                <div class="quick-nav">
                  {% include "./partials/quicknav.html" %}
                </div>
              </div>
              <div id="front-image-container" class="col-md-9 col-sm-12 col-xs-12">
                  {% include "./partials/mainfeature.html" %}
              </div>
          </div>
      </div>
  </div>
{% endblock topcontent %}

{% block contents %}
<div id="contentMain" class="container">
  <h1 class="sr-only">Texas Natural Resources Information System</h1>

  <div class="row">
    <div id="updates-front" class="col-md-5 col-sm-12 col-md-push-3">
      <h2>Latest News <i class="fa fa-newspaper-o"></i></h2>
      <ul class="news-list list-clean">
        {% for news_item in updates %}
          {% if loop.index<=4 %}
            <li class="media">
              <a class="media-left" href="{{m.link(news_item.preserved)}}" title="Read {{news_item.title}}">
                <img class="media-object" src="{{m.link(news_item.thumbnail)}}" alt="{{news_item.thumbalt}}">
              </a>
              <div class="media-body">
                <time>{{news_item.date|date('F jS, Y')}}</time>
                <h3 class="media-heading">
                  <a href="{{m.link(news_item.preserved)}}">{{news_item.title}}</a>
                </h3>
                <p>
                  {{news_item.abstract}}
                </p>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <p class="text-center">
        <a class="btn btn-tnris" href="{{m.link('updates')}}" role="button">More <span class="sr-only">News</span> Updates <span class="glyphicon glyphicon-chevron-right"></a>
      </p>
    </div>

    <div id="front-sidebar" class="col-md-3 col-sm-12 col-md-pull-5">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-12">
          <div class="around-state-front">
            <h2>Around the State <i class="fa fa-bullhorn"></i></h2>
            <figure>
              <a href="{{m.link('around-the-state/2016-08-30-longtime-friend-colleague-dr-kim-ludeke-retires-from-tpwd')}}">
                <span class="hidden-sm">
<img class="img-responsive" src="{{m.link('static/images/around-the-state/ludeke/kim_headshot.jpg')}}" alt="Headshot of Dr. Kim Ludeke"></span>
              <!--   <span class="hidden-xs hidden-md hidden-lg"><img class="img-responsive" src="{{m.link('static/images/updates/2016/eastaustin_topo_sample_long.jpg')}}" alt="A sample of a new USGS topo map"></span> -->
              </a>
              <h3>
                <a class="btn btn-tnris btn-sm pull-right" href="{{m.link('around-the-state/2016-08-30-longtime-friend-colleague-dr-kim-ludeke-retires-from-tpwd')}}" role="button"><i class="glyphicon glyphicon-chevron-right"></i> Read More <span class="sr-only">about the Kim's Career</span></a><a href="{{m.link('around-the-state/2016-08-30-longtime-friend-colleague-dr-kim-ludeke-retires-from-tpwd')}}">Kim Ludeke Retires from TPWD</a>
              </h3>
            </figure>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-12 training-front">
          <h2><a href="{{m.link('training')}}">GIS Training &amp; Education</a> <i class="fa fa-graduation-cap"></i> </h2>
          <h3>2016 Training Session Now Closed</h3>
          <p>We've completed the 2016 session. Stay tuned as we announce the next session in the near future</p>
          <img class="img-responsive" src="{{ m.link('static/images/front-page/training_promo.jpg')}}" alt="Books and Screenshots from training"/>
          <p>Let us know if you have suggestions for courses that can be added to our program!</p>
          <p class="text-center">
            <a class="btn btn-tnris" href="{{m.link('training')}}" role="button">View 2016 past Courses <span class="glyphicon glyphicon-chevron-right"></a>
          </p>
        </div>
      </div>
    </div>

    <div id="front-right" class="col-sm-12 col-md-4">
      <a href="{{m.link('2016-lidar-acquisition-project')}}">
        <img class="img-responsive center-block padded" src="{{m.link('static/images/front-page/2016-lidar-sm-version.jpg')}}" alt="2016 lidar acquisition image">
      </a>
      <a href="{{m.link('2015-statewide-orthoimagery-project')}}">
        <img class="img-responsive center-block" src="{{m.link('static/images/front-page/statewide_ad_2.jpg')}}" alt="Statewide Orthoimagery Project Page">
      </a>

    </div>
  </div>
</div>
{% endblock contents %}

{% block contents-two %}
  {% include "./partials/highlights.html" %}
{% endblock contents-two %}
