{% extends "base.html" %}
{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  {{form.styles()}}
{% endblock styles %}

{% block scripts %}
  {% parent %}

  {{form.scripts()}}
{% endblock scripts %}


{% block topcontent %}
<div class="container-fluid full">

    <div class="top-container">
        {% if mainimage %}
          <img src="{{m.link(mainimage)}}" alt="Main Image for Statewide Ortho project, a Texas Flag composed of imagery">
        {% endif %}

        <div class="top-header center-block">
            <div class="container">
                <h1>{{title}}</h1> {% if abstract %}
                <div class="lead">{{abstract}}</div>
                {% endif %}
                <a href="{{ m.link('2015-statewide-orthoimagery-project')}}" class="btn btn-danger btn-lg smooth-scroll">Return to 2015 Ortho Main Page <i class="glyphicon glyphicon-chevron-right"></i></a><br><br>
            </div>
        </div>
    </div>
</div>

{% endblock topcontent %}
{% block contents %}
<div class="row">
    <div class="col-md-8">
        {{contents|safe}}
    </div>
    <div class="col-md4">
      <img class="img-circle img-responsive center-block" src="{{ m.link('static/images/statewide-orthoimagery/ortho_qc_main.jpg')}}">
    </div>
</div>
{% endblock contents %}

{% block contents-two %}
    <section class="ortho-top">
      <div class="container">
          <div class="row">
             {% include "./partials/2015-ortho/ortho-qc-contact.html" %}
           </div>
         </div>
    </section>
{% endblock contents-two %}
