    <div class="qc-box">
        <div class="green-check">
          <img src="{{m.link('static/images/statewide-orthoimagery/green_check.png')}}" alt="a small thumbnail of orthoimagery">
      </div>
      <h3>We Need YOU for the Quality Control (QC) Review</h3>
      <p>We are seeking volunteers to review the incoming imagery products between May and October. No experience necessary. </p><a class="btn btn-lg btn-danger" href="{{ m.link('2015-ortho-qc')}}"><i class="glyphicon glyphicon-info-sign"></i> Learn More <span class="sr-only">about Becoming a QC Reviewer</span></a>
    </div>