{% import '_macros.html' as m %}

<section class="row">
  <div class="col-sm-8">
    <br>
    <h2 class="updates-header">Project Activity for the week ending<br><strong>{{status_date}}</strong></h2>
    <h3>Update Summary</h3>
      {{contents|safe}}
      
      <a class="btn btn-default btn-lg" href="{{m.link('static/documents/2015-ortho-weekly-reports/' + latest_report)}}"><span class="glyphicon glyphicon-file"></span> Download the most recent full vendor report</a>

    <h3>Full Statewide Dataset Access</h3>
    {{m.catalog_data_card('texas-orthoimagery-program-top-2015-50cm-nc-cir')}}

<hr>
<h4>TOP 2015 Online Mapping Service</h4>
<div class="alert alert-info" role="alert">
  <strong>The TOP 2015 Online Mapping Service</strong> will not reflect the full statewide data immediately. Estimated completion is Early Summer 2016.
</div>
<p>To use WMS services in your CAD or GIS software package, please consult the software help or support information.</p>
<div class="input-group copy-url-container">
      <span class="input-group-btn">
    <button class="btn btn-tnris copy-url-btn" type="button">
      <i class="fa fa-clipboard"></i> Copy URL
    </button>
  </span>
  <input class="wms-url copy-url-input form-control" type="text" readonly value="http://r.tnris.org/arcgis/services/TOP/TOP_2015_50CM_NC/ImageServer/WMSServer">
</div>
<hr>
<h4><span class="esri-replace-sm">Esri</span> Basemap Imagery Service</h4>
<div class="alert alert-info" role="alert">
  <strong>ESRI Map Services</strong> will not reflect the full statewide data immediately. Estimated completion is Early Summer 2016.
</div>

<p>Access the new 0.5-meter imagery through the Esri Basemap Imagery service:</p>
<a class="btn btn-lg btn-success" href="#basemap-tutorial" data-toggle="modal"><i class="glyphicon glyphicon-new-window"></i> View ArcMap basemap tutorial</a>
    <div class="modal fade" id="basemap-tutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Add TOP Imagery as <span class="esri-replace-sm">Esri</span> Basemap in ArcMap</h3>
                </div>
                <div class="modal-body">
                  <p>
                    <ol>
                      <li><h4>Click on the '<em>Add Data</em>' dropdown in ArcMap and select '<em>Add Basemap</em>'</h4><br>
                        <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/add_basemap.jpg')}}" alt="A screenshot from ArcMap, showing 'add data' dropdown"></li>
                      <li><h4>Select '<em>Imagery</em>' and click '<em>Add</em>'</h4><br>
                        <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/add_basemap2.jpg')}}" alt="A screenshot of the add basemap options, with the imagery highlighted"></li>
                      <li><h4>Results show data source</h4><br>
                        <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/add_basemap3.jpg')}}" alt="a pop-up menu shows the data source as the TOP in ArcMap">
                      </li>
                    </ol>
                  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<hr>
  <h3>Regional 6-Inch/1-Foot Dataset Access</h3>

   {{m.catalog_data_card('hpids-georgetown-2015-6in-nc-cir')}}

<h4>Online Mapping Service: HPIDS Georgetown 2015 6in NC\CIR</h4>
   <div class="input-group copy-url-container">
      <span class="input-group-btn">
    <button class="btn btn-tnris copy-url-btn" type="button">
      <i class="fa fa-clipboard"></i> Copy URL
    </button>
  </span>
  <input class="wms-url copy-url-input form-control" type="text" readonly value="http://r.tnris.org/arcgis/services/HPIDS/HPIDS_Georgetown_2015_NC/ImageServer/WMSServer">
</div>
<hr>
   {{m.catalog_data_card('hpids-sara-2015-6in-nc-cir')}}

<h4>Online Mapping Service: HPIDS SARA 2015 6in NC\CIR</h4>
   <div class="input-group copy-url-container">
      <span class="input-group-btn">
    <button class="btn btn-tnris copy-url-btn" type="button">
      <i class="fa fa-clipboard"></i> Copy URL
    </button>
  </span>
  <input class="wms-url copy-url-input form-control" type="text" readonly value="http://r.tnris.org/arcgis/services/HPIDS/HPIDS_SARA_2015_NC/ImageServer/WMSServer">
</div>
<hr>
    {{m.catalog_data_card('hpids-university-lands-2015-6in-nc-cir')}}

<h4>Online Mapping Service: HPIDS University Lands 2015 6in NC\CIR</h4>
   <div class="input-group copy-url-container">
      <span class="input-group-btn">
    <button class="btn btn-tnris copy-url-btn" type="button">
      <i class="fa fa-clipboard"></i> Copy URL
    </button>
  </span>
  <input class="wms-url copy-url-input form-control" type="text" readonly value="http://r.tnris.org/arcgis/services/HPIDS/HPIDS_University_Lands_2015_NC/ImageServer/WMSServer">
</div>

<hr>
    {{m.catalog_data_card('hpids-tpwd-2015-6in-1ft-nc-cir')}}
    
<hr>
    {{m.catalog_data_card('hpids-nga-usgs-2015-1ft-nc-cir')}}

</div>
<div class="col-sm-4 col-md-3 col-md-offset-1">

   <h3>Full Statewide Orthoimagery Status</h3>
   <div class="list-clean data-progress-final">
    <div class="status">
            <progress class="level-four" max="100" value="{{progress_5}}">
            </progress>
            <h3 class="amount level-one">{{progress_5}}%</h3>
            <p>of final <strong>Digital Orthophoto Quarter-Quads (DOQQs)</strong> Available. <em>See Map Below.</em></p>
        </div>
</div>

          <a href="#doqq-image" data-toggle="modal"><img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + doqq_image_preview)}}" alt="Latest DOQQ availability preview image">
          <p class="text-right"><span class="glyphicon glyphicon-search"></span> Click for larger view</p>
          </a>


          <div class="modal fade" id="doqq-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                          </button>
                          <h3>Final DOQQ Availability</h3>
                      </div>
                      <div class="modal-body">
                          <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + doqq_image)}}" alt="Latest DOQQ Availability Map">
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>
          <hr>
   <div class="list-clean data-progress-final">

          <!-- <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + ccm_image_preview)}}" alt="Latest CCM availability preview image"> -->
  <div class="status">

            <progress class="level-four" max="100" value="{{progress_7}}">
            </progress>
            <h3 class="amount level-one">{{progress_7}}%</h3>
            <p>of final <strong>Compressed County Mosaics (CCMs)</strong> Available. <em>See Map Below.</em></p>
          </div>
        <iframe width="100%" height="300" frameborder="0" src="https://tnris-twdb.cartodb.com/u/tnris/viz/e87e0e1a-d4e1-11e5-a78f-0e787de82d45/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


          <a href="#ccm-image" data-toggle="modal"><p class="text-right"><span class="glyphicon glyphicon-search"></span> Click for larger view</p>
            </a>

        </div>
              <div class="modal fade" id="ccm-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                          </button>
                          <h3>Final Compressed County Mosaics (CCMs) Availability</h3>
                      </div>
                      <div class="modal-body">
                        <!--   <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + ccm_image)}}" alt="Latest CCM Availability Map"> -->
                        <iframe width="100%" height="700" frameborder="0" src="https://tnris.cartodb.com/viz/1d62d64c-729f-11e5-bd02-0ecd1babdde5/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
              </div>
</div>
</section>

<hr>
<div class="row">
<div class="col-md-8">
    <h3>Data Acquisition and Processing Progress</h3>
    <p class="lead"><strong>We're excited to announce that all acquisition flights have been completed!</strong></p>
    <p>Note: Due to unfavorable weather conditions, it wasn't possible to acquire the remaining areas of Texas (9%) within the original timeframe. Flights were put on hold on in early August 2015 until the next upcoming leaf-off season, pushing the estimated project completion date to Spring 2016.</p>
    <ul class="list-clean data-progress">
        <li class="status">
            <progress class="level-five" max="100" value="{{progress_1}}">
            </progress>
            <h3 class="amount level-one">{{progress_1}}%</h3>
            <i class="fa fa-plane"></i>
            <p>of the state has been flown for 0.5-meter imagery (see the note above)</a></p>
        </li>
        <li class="status">
            <progress class="level-five" max="100" value="{{progress_2}}">
            </progress>
            <h3 class="amount level-one">{{progress_2}}%</h3>
            <i class="fa fa-check"></i>
            <p>of the state has been surveyed for ground control</p>
        </li>
        <li class="status">
            <progress class="level-five" max="100" value="{{progress_3}}">
            </progress>
            <h3 class="amount level-one">{{progress_3}}%</h3>
            <i class="fa fa-check"></i>
            <p>of the state has been begun initial image processing</p>
        </li>
        <li class="status">
            <progress class="level-five" max="100" value="{{progress_6}}">
            </progress>
            <h3 class="amount level-one">{{progress_6}}%</h3>
            <i class="fa fa-check"></i>
            <p>of the state has been processed through aerotriangulation</p>
        </li>
        <li class="status">
            <progress class="level-five" max="100" value="{{progress_4}}">
            </progress>
            <h3 class="amount level-one">{{progress_4}}%</h3>
            <i class="fa fa-check"></i>
            <p>of pilot data received</p>
        </li>
    </ul>
</div>


<div class="col-md-3 col-md-offset-1">


<h3>Latest Production Status</h3>
    <a href="#production-image" data-toggle="modal">
        <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + production_image_preview)}}" alt="Latest Production Status Map for the Orthoimagery Project">
        <figcaption class="text-right hidden-xs"><span class="glyphicon glyphicon-search"></span> Click for larger view</figcaption>
    </a>
    <div class="modal fade" id="production-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Latest Production Status</h3>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + production_image)}}" alt="Latest Production Map and flightlines for the Orthoimagery Project">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h3>Latest Flightline Status</h3>
    <a href="#status-image" data-toggle="modal">
        <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + status_image_preview)}}" alt="Latest Status Image and flightlines for the Orthoimagery Project">
        <figcaption class="text-right hidden-xs"><span class="glyphicon glyphicon-search"></span> Click for larger view</figcaption>
    </a>
    <div class="modal fade" id="status-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Latest Flightline Status</h3>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" src="{{m.link('static/images/statewide-orthoimagery/weekly-updates/' + status_image)}}" alt="Latest Status Image and flightlines for the Orthoimagery Project">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
