<ul class="dash list-clean">
<li>TNRIS launched the 2015 0.5-meter WMS <a hre="{{m.link('maps-and-data/online-mapping-services#texas-orthoimagery-program')}}">link</a>: Access the imagery we have so far through your software without having to download the data.</li>
<li>TNRIS loaded final DOQQs we have so far (36%) and shipped them to Esri for integration into their Basemap Imagery Service.</li>
<li>Quality Control (QC) data review is underway at TNRIS.</li> 
<li>Final orthoimagery for the entire state is expected to be available by Spring 2016.</li>
<li>The status of the 0.5 meter imagery acquired in Season-1 is 100% complete, 99% in Season-2, 89% in Season-3, 33% in Season-4 and 91% Statewide.</li>
<li>Surdex aircraft with ADS100 digital camera sensors are returning to Texas in December to finish the statewide 0.5-meter acquisition Dec 15, 2015 – Feb 28, 2016.</li>
</ul>
